/*----------------------------------------------------------------------
 Text
----------------------------------------------------------------------*/
.txt {@include baseText();}

.txt_sm {font-size: 12px;}
.txt_semiMed {font-size: 15px;}
.txt_med {font-size: 18px;}
.txt_lg {font-size: 24px;}

.txt_semiBold {font-weight: 600;}
.txt_bold {font-weight: 700;}

.txt_italic {font-style: italic;}

.txt_upper {text-transform: uppercase;}

.txt_inlineBlock {display: inline-block;}
.txt_block {display: block;}

.txt_pushBtm {margin-bottom: 20px;}
.txt_pushBtmSm {margin-bottom: 10px;}
.txt_pushTop {margin-top: 20px;}
.txt_pushTopSm {margin-top: 10px;}
.txt_pullTopSm {margin-top: -10px;}

.txt_gray {color: $gray;}
.txt_grayDark {color: $gray_dark;}
.txt_error {color: $color_error;}
.txt_success {color: $brand_dark;}
.txt_error {color: $color_error;}
.txt_yellow {color: $color_alert;}
.txt_green {color: $color_success;}

.txt_highlight {
	padding: 0 5px;
	background: $brand_secondary;
	color: $white;
}
