					<!-- ANNOUNCEMENTS 3 COLUMN -->
					<ul class="blocks blocks_3col blocks_vLine">
						<li>
							<a href="announcement-details.html" class="announcement announcement_clear">
								<div class="announcement-date">
									<div class="announcement-date-month">Oct</div>
									<div class="announcement-date-day">9</div>
								</div>
								<div class="announcement-hd">
									<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum.</h3>
								</div>
								<div class="announcement-bd">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam autem atque, doloribus voluptatum, non debitis provident cum deserunt ipsum? Quasi repellat, repellendus ab. Dignissimos laudantium optio sint dicta, tenetur aspernatur.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="announcement-details.html" class="announcement announcement_clear">
								<div class="announcement-date">
									<div class="announcement-date-month">Oct</div>
									<div class="announcement-date-day">11</div>
								</div>
								<div class="announcement-hd">
									<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
								</div>
								<div class="announcement-bd">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam autem atque, doloribus voluptatum, non debitis provident cum deserunt ipsum? Quasi repellat, repellendus ab. Dignissimos laudantium optio sint dicta, tenetur aspernatur.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="announcement-details.html" class="announcement announcement_clear">
								<div class="announcement-date">
									<div class="announcement-date-month">Oct</div>
									<div class="announcement-date-day">22</div>
								</div>
								<div class="announcement-hd">
									<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
								</div>
								<div class="announcement-bd">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam autem atque, doloribus voluptatum, non debitis provident cum deserunt ipsum? Quasi repellat, repellendus ab. Dignissimos laudantium optio sint dicta, tenetur aspernatur.</p>
								</div>
							</a>
						</li>
					</ul>
					<a href="announcements.html" class="btn btn_mlc">View All Announcements</a>