					<!-- BEGIN DRAWER MODULE -->
					<div class="drawer js-drawer">
					    <div class="drawer-trigger js-drawer-trigger">
					        <a href="javascript:void(0)"><i class="fa fa-chevron-right"></i> <h3 class="hdg hdg_3 hdg_inlineBlock padLeft5">Drawer Trigger</h3></a>
					    </div>
					    <div class="drawer-content js-drawer-content">
							<p><span class="txt_bold">Multiple Drawers can be open at the same time.</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias assumenda repellat ipsa at rem perferendis neque consequatur ut hic? Architecto consequatur neque doloribus sunt eaque eveniet sit laboriosam, libero quod harum animi minus modi officiis error minima laudantium eligendi mollitia commodi, quam ea. Fuga culpa maiores fugiat, rerum labore modi sapiente, quia alias eligendi dolores doloremque dolor eum omnis deleniti! Non impedit blanditiis temporibus adipisci ipsa! Excepturi doloribus saepe quia, autem at dicta quod distinctio delectus, hic. Impedit saepe necessitatibus sed non recusandae quod tempora dolore. Eius aliquid voluptatibus officia, architecto placeat magnam at beatae dolores sed, nostrum modi aut.</p>
					    </div>
					</div><!-- END DRAWER MODULE -->