					<!-- EVENTS ALL -->
					<ul class="blocks blocks_2col">
						<li>
							<a href="" class="event event_fb">
								<div>
									<div class="event-date">
										<div class="event-date-month">Oct</div>
										<div class="event-date-day">1</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">Five Behaviors Event Title</h3>
									<p class="event-bd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="event">
								<div>
									<div class="event-date">
										<div class="event-date-month">Oct</div>
										<div class="event-date-day">17</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">MindLab Connect Event Title</h3>
									<p class="event-bd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="event event_ed">
								<div>
									<div class="event-date">
										<div class="event-date-month">Oct</div>
										<div class="event-date-day">29</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">Everything DiSC Event Title</h3>
									<p class="event-bd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim Lorem ipsum dolor.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="event event_pxt">
								<div>
									<div class="event-date">
										<div class="event-date-month">Oct</div>
										<div class="event-date-day">31</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">PXT Select Event Title</h3>
									<p class="event-bd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="event event_fb">
								<div>
									<div class="event-date">
										<div class="event-date-month">Nov</div>
										<div class="event-date-day">1</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">Five Behaviors Event Title Five Behaviors Event Title Five Behaviors Event Title</h3>
									<p class="event-bd">Lorem ipsum.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="event">
								<div>
									<div class="event-date">
										<div class="event-date-month">Nov</div>
										<div class="event-date-day">17</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">MindLab Connect Event Title</h3>
									<p class="event-bd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="event event_ed">
								<div>
									<div class="event-date">
										<div class="event-date-month">Nov</div>
										<div class="event-date-day">29</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">Everything DiSC Event Title</h3>
									<p class="event-bd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim Lorem ipsum dolor.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="event event_pxt">
								<div>
									<div class="event-date">
										<div class="event-date-month">Nov</div>
										<div class="event-date-day">27</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">PXT Select Event Title</h3>
									<p class="event-bd">Lorem ipsum.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="event event_fb">
								<div>
									<div class="event-date">
										<div class="event-date-month">Dec</div>
										<div class="event-date-day">1</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">Five Behaviors Event Title</h3>
									<p class="event-bd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="event">
								<div>
									<div class="event-date">
										<div class="event-date-month">Dec</div>
										<div class="event-date-day">17</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">MindLab Connect Event Title</h3>
									<p class="event-bd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="event event_ed">
								<div>
									<div class="event-date">
										<div class="event-date-month">Dec</div>
										<div class="event-date-day">29</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">Everything DiSC Event Title</h3>
									<p class="event-bd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim Lorem ipsum dolor.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="" class="event event_pxt">
								<div>
									<div class="event-date">
										<div class="event-date-month">Dec</div>
										<div class="event-date-day">31</div>
									</div>
								</div>
								<div class="event-text">
									<h3 class="event-hd">PXT Select Event Title</h3>
									<p class="event-bd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid mollitia enim.</p>
								</div>
							</a>
						</li>
					</ul>