					<!-- TABS -->
					<div class="tab js-tab">
						<!-- TAB TRIGGERS -->
						<ul class="tab-trigger js-tab-trigger">
							<li><a href="#">Manage Projects</a></li>
							<li><a href="#">Staging Cue</a></li>
						</ul>
						<!-- TAB CONTENT -->
						<div class="tab-content js-tab-content">
							<div class="wrap wrap_pad">
								<!-- TAB CONTENT ITEM 1 -->
								<div class="tab-content-item js-tab-content-item">
									<h4 class="hdg hdg_2 pushBtm10">Tab 01 Neque ipsum dolor.</h4>
									<p>Consectetur adipisicing elit. Neque, repellat facilis totam ab eos distinctio sint atque maiores! Dignissimos, molestiae, rem accusantium iure vitae voluptatum voluptas repudiandae deserunt dolore quis! Quisquam mollitia eius sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus commodi neque vitae fugit. Ea obcaecati provident minus asperiores consequuntur, tempore necessitatibus soluta odit id doloremque pariatur quisquam reiciendis veritatis adipisci autem, nesciunt in voluptates officiis ducimus eos. Quisquam accusantium perspiciatis cumque, accusamus dolorum minus harum veniam iste saepe velit excepturi.</p>
								</div>
								<!-- TAB CONTENT ITEM 2 -->
								<div class="tab-content-item js-tab-content-item">
									<h4 class="hdg hdg_2 pushBtm10">Tab02 Maiores, suscipit</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, suscipit, eaque asperiores neque numquam nam possimus dolorem ipsa aspernatur reiciendis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, repellendus. Nisi voluptatum commodi facilis quaerat cumque voluptatibus soluta iste quisquam, repudiandae voluptates praesentium quo placeat non aliquid nam, ea nemo, molestias expedita quae magnam! Illum laudantium, sunt. Autem exercitationem mollitia, at modi quibusdam quas, soluta, neque laboriosam, voluptate error ratione.</p>
								</div>
							</div>
						</div>
					</div><!-- END TABS -->