					<!-- TABLE -->
					<table class="table table_alt">
						<thead>
							<tr>
								<th>Table Heading th</th>
								<th class="js-sort"><span class="padRight5">Table Heading th Sort</span> <i class="caret"></i></th>
								<th>Table Heading th</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Table Body td</td>
								<td>Table Body td 1</td>
								<td>Table Body td</td>
								<td><i class="fa fa-times"></i></td>
							</tr>
							<tr>
								<td>Table Body td</td>
								<td>Table Body td 2</td>
								<td>Table Body td</td>
								<td><i class="fa fa-times"></i></td>
							</tr>
							<tr>
								<td>Table Body td</td>
								<td>Table Body td 3</td>
								<td>Table Body td</td>
								<td><i class="fa fa-times"></i></td>
							</tr>
							<tr>
								<td colspan="4">
									<div class="box">
										<div class="wrap wrap_alignCenter">
											<span class="txt_bold txt_block pushBtm10">Are you sure you want to delete this?</span>
											<a href="javascript:void(0);" class="btn btn_sm">Delete</a> <a href="javascript:void(0);">Cancel</a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>Table Body td</td>
								<td>Table Body td 4</td>
								<td>Table Body td</td>
								<td><i class="fa fa-times"></i></td>
							</tr>
						</tbody>
					</table>