{% macro active(activePage='home') %}
				<!-- BEGIN VIDEO HUB -->
                <div class="mediaFeature">
                    <div class="mediaFeature-media">
                        <!--<img class="imgResponsive" src="http://placehold.it/600x350"/>-->
                        <script type="text/javascript" id="vidyard_embed_code_Kbw3tUmaaUPLXQahSj2Cxv" src="https://play.vidyard.com/Kbw3tUmaaUPLXQahSj2Cxv.js?action=embed_codes_by_uuid&controller=api%2Fv1%2Fapi_players&include_sharing_page=false&uuid=Kbw3tUmaaUPLXQahSj2Cxv&v=3.1.1&type=inline"></script>
                    </div>
                    <div class="mediaFeature-info">
                        <h3 class="hdg hdg_3 pushBtm10">Media Feature Title</h3>
                        <p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi debitis deserunt exercitationem, aliquid, pariatur maiores enim iste iure ullam repellat consectetur aspernatur cumque quaerat labore facere animi voluptas nulla assumenda.</p>
                        <p class="txt_sm pushBtm5">Copy text below to use video for your Better Together Marketing landing page.</p>
                        <div class="mediaFeature-url">http://embed.vidyard.com/share/wPvfSeEAoAkCrJvkopB1qQ</div>
                        <input type="submit" class="btn" value="Download">
                    </div>
                </div>
                <div class="mediaFeature">
                    <div class="mediaFeature-media">
                        <img class="imgResponsive" src="http://placehold.it/600x350"/>
                    </div>
                    <div class="mediaFeature-info">
                        <h3 class="hdg hdg_3 pushBtm10">Media Feature Title</h3>
                        <p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi debitis deserunt exercitationem, aliquid, pariatur maiores enim iste iure ullam repellat consectetur aspernatur cumque quaerat labore facere animi voluptas nulla assumenda.</p>
                        <p class="txt_sm pushBtm5">Copy text below to use video for your Better Together Marketing landing page.</p>
                        <div class="mediaFeature-url">http://embed.vidyard.com/share/wPvfSeEAoAkCrJvkopB1qQ</div>
                        <input type="submit" class="btn" value="Download">
                    </div>
                </div>
                <div class="mediaFeature">
                    <div class="mediaFeature-media">
                        <img class="imgResponsive" src="http://placehold.it/600x350"/>
                    </div>
                    <div class="mediaFeature-info">
                        <h3 class="hdg hdg_3 pushBtm10">Media Feature Title</h3>
                        <p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi debitis deserunt exercitationem, aliquid, pariatur maiores enim iste iure ullam repellat consectetur aspernatur cumque quaerat labore facere animi voluptas nulla assumenda.</p>
                        <p class="txt_sm pushBtm5">Copy text below to use video for your Better Together Marketing landing page.</p>
                        <div class="mediaFeature-url">http://embed.vidyard.com/share/wPvfSeEAoAkCrJvkopB1qQ</div>
                        <input type="submit" class="btn" value="Download">
                    </div>
                </div>
                <div class="mediaFeature">
                    <div class="mediaFeature-media">
                        <img class="imgResponsive" src="http://placehold.it/600x350"/>
                    </div>
                    <div class="mediaFeature-info">
                        <h3 class="hdg hdg_3 pushBtm10">Media Feature Title</h3>
                        <p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi debitis deserunt exercitationem, aliquid, pariatur maiores enim iste iure ullam repellat consectetur aspernatur cumque quaerat labore facere animi voluptas nulla assumenda.</p>
                        <p class="txt_sm pushBtm5">Copy text below to use video for your Better Together Marketing landing page.</p>
                        <div class="mediaFeature-url">http://embed.vidyard.com/share/wPvfSeEAoAkCrJvkopB1qQ</div>
                        <input type="submit" class="btn" value="Download">
                    </div>
                </div><!-- END VIDEO HUB -->
{% endmacro %}