		<!-- FOOTER -->
        <div class="footer" role="contentinfo">
            <div class="footer-content">
                <div class="footer-legal">
                    <small>&copy; <script>new Date().getFullYear()>2010&&document.write(""+new Date().getFullYear());</script> by John Wiley &amp; Sons, Inc. All rights reserved.</small>
                </div>
                <div class="footer-logo">
                    <img src="media/images/logo-wiley-white.png" alt="Wiley logo">
                </div>
            </div>
        </div><!-- END FOOTER -->

        <!-- BACK TO TOP OF PAGE BUTTON -->
        <a href="#" class="topside js-topside">
            <i class="fa fa-chevron-up"></i>
        </a>