//----------------------------------------------------------------------
// Base Font Styles
//----------------------------------------------------------------------
$font_primary: 'Lato', Arial, sans-serif;
$font_secondary: 'Lato', Georgia, serif;

//----------------------------------------------------------------------
// Common Colors
//----------------------------------------------------------------------
$brand: #0BB169;
$brand_light: #8bf5c7;
$brand_dark: #149B87;

$brand_secondary: #aa3062;
$brand_secondary_light: #DBF6FB;
$brand_secondary_dark: #5e243c;

$gray: #95a9ad;
$gray_light: #E9EEEE;
$gray_dark: #26545D;
$gray_xdark: #2a2b2b;

$ed_brand: #0091d2;
$ed_brand_light: #6BA2BB;
$ed_brand_dark: #00597F;

$fb_brand: #D33039;
$fb_brand_light: #F04545;
$fb_brand_dark: #b02c32;

$pxt_brand: #00AFB2;
$pxt_brand_light: #70c4c2;
$pxt_brand_dark: #196C7D;
$pxt_brand_secondary: #96D2A2;

$white: #FFFFFF;
$black: #000000;

$color_error: #bd2553;
$color_alert: #fdd601 ;
$color_success: #00d1a1;

//----------------------------------------------------------------------
// Widths
//----------------------------------------------------------------------
$site_width: 1280px;
$site_min_width: 768px;

$box_shadow: 3px 5px 0 rgba(1, 1, 1, 0.11);
