//----------------------------------------------------------------------
// Drawer Styles
//----------------------------------------------------------------------
.drawer {
	display: block;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
}

.drawer ~ .drawer {
	border-top: none;
}

.drawer-trigger {
	padding: 10px;
	position: relative;
	background: $white;
	font-weight: 700;
}

.drawer-trigger a {
	display: block;
	@include clearfix();
	color: $gray_dark;
}

.drawer-trigger a * {vertical-align: middle;}

.drawer-trigger i.fa-chevron-right{transition: transform .2s linear;}
.drawer-trigger i.fa-chevron-right.active {transform: rotate(90deg);}

.drawer-content {
	display: none;
	padding: 10px;
	border-top: 1px solid $gray_light;
	background: $white;
}