					<!-- BEGIN MODAL MODULE -->
					<div class="btn btn_sm btn_secondary js-modalTrigger">Save as List</div>
					<div class="modal js-modal">
					    <div class="modal-mask js-modal-mask js-modal-mask_close"></div><!-- REMOVE modal-mask_close IF YOU WANT TO DEACTIVATE ON CLICK CLOSE FUNCTION ON MASK -->
					    <div class="modal-content js-modal-content">
					        <div class="modal-hd">
					            <span class="txt_semiBold">Save as List (100 Items)</span>
					            <a href="javascript:void(0)" class="modal-close js-modal-close">
						            <span class="isVisuallyHidden">Close Modal</span>
						            <i class="icon-cross2"></i>
						        </a>
					        </div>
					        <div class="modal-bd">
								<ul class="blocks blocks_2col blocks_noMarginBtm">
									<li>
										<label for="save-list-name">Name</label>
										<input type="text" id="save-list-name" class="form-input" placeholder="Enter a name for your new search" />
										<div class="wrap pushBtm40">
											<span class="txt_semiBold">Creation Date: </span>
											<span>04/28/2016 1&#58;08 PM CST</span>
										</div>
									</li>
									<li></li>
								</ul>
								<div class="btn js-modal-close">Save as a List</div>
					        </div>
					    </div>
					</div><!-- END MODAL MODULE-->