/*----------------------------------------------------------------------
 Headings, Med
----------------------------------------------------------------------*/
.hdg_1 {font-size: 40px;}
.hdg_2 {font-size: 26px;}
.hdg_3 {font-size: 20px;}