/*----------------------------------------------------------------------
 Bar Styles, Med
----------------------------------------------------------------------*/
.bar {padding: 20px 10px;}

.bar > * {padding: 0 10px;}

.bar-text {font-size: 18px;}
