<!-- announcement-details.nunjucks -->
{% extends "layout.html" %}

{% block content %}

		{{header.active('mlc')}}
		{{pageHeader.active('announcement-details')}}

        <div class="wrap wrap_content">

			<div class="wrap wrap_section">
				<div class="wysiwyg pushBtm40">
					<span class="txt_block txt_bold txt_med pushBtm40">Nov 29th, 2017</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum iste, dolorum recusandae iure modi commodi quam quisquam quibusdam minima voluptates maiores explicabo, consectetur enim praesentium temporibus officia alias reprehenderit vel quo laudantium porro pariatur natus error? Molestias soluta maxime illo, porro natus beatae distinctio doloremque nulla illum expedita ex doloribus, nemo neque minus, sit, in at atque totam explicabo repellat. Cumque, laudantium, optio? Quia iusto officia, ipsum alias quaerat minus soluta nulla recusandae, maxime illo, id unde commodi laudantium exercitationem explicabo possimus cupiditate porro ipsa est officiis architecto ad voluptas fugiat? Itaque explicabo vitae, esse reiciendis delectus fugit architecto a!</p>
					<p>Lorem ipsum dolor sit amet, consectetur <i>italic italic</i> adipisicing elit. Est, officia, dignissimos. Rem consequatur, quod iste quaerat, vero beatae provident ullam facere maiores, <u>underline underline</u> dignissimos consequuntur ea nam voluptas unde. Excepturi corporis velit, at inventore nobis <b>bold bold</b> doloribus nostrum perferendis, sunt mollitia cupiditate eos odit aut. Ex sapiente eius totam deserunt autem odit!</p>

					<h1>Heading 1</h1>
					<h2>Heading 2</h2>
					<h3>Heading 3</h3>
					<h4>Heading 4</h4>
					<h5>Heading 5</h5>
					<h6>Heading 6</h6>

					<ul>
						<li>Unordered List Item 1</li>
						<li>Unordered List Item 2</li>
						<li>Unordered List Item 3</li>
					</ul>
					<ol>
						<li>Ordered List Item 1</li>
						<li>Ordered List Item 2</li>
						<li>Ordered List Item 3</li>
					</ol>
				</div>
				<a href="announcements.html" class="btn btn_mlc">Back to Announcements</a>
			</div>

        </div>
{% endblock %}