<!-- beta-test-opportunities.nunjucks -->
{% extends "layout.html" %}

{% block content %}

		{{header.active('ed')}}
		{{brandHeader.active('ed')}}
		{{subNav.active('ed')}}
		{{pageHeader.active('betaTest')}}

        <div class="wrap wrap_content">

			<div class="wrap wrap_section">
				<div class="grid">
					<div class="grid-col grid-col_1of3">
						{{sideNav.active('beta-test-opportunities')}}
					</div>
					<div class="grid-col grid-col_2of3">
						<h2 class="hdg hdg_2 hdg_gray pushBtm40">Upcoming Opportunities</h2>
						<!-- ANNOUNCEMENTS LINE LIST -->
						<ul class="list list_line">
							<li>
								<h3 class="hdg hdg_3 pushBtm10">Everything DiSC Productive Conflict Facilitation Beta 4</h3>
								<div class="pushBtm10">
									<span class="txt_med">10/16/2017</span> - <span class="txt_med">12/08/2017</span>
								</div>
								<p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda velit quibusdam aliquid tenetur ad accusamus dolores quo perferendis suscipit vel! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum mollitia tenetur commodi aliquid? Laudantium excepturi perferendis, deserunt soluta mollitia.</p>
								<div class="js-toggle">
									<div class="js-toggle-content" style="display: none;">
										<p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat accusantium saepe dolorum tempora necessitatibus labore illum ipsum, nobis debitis eveniet aliquam, obcaecati tempore est quos repellat perspiciatis inventore, velit natus aut fuga voluptatibus delectus. Iure impedit recusandae ducimus, inventore atque?</p>
										<p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat accusantium saepe dolorum tempora necessitatibus labore illum ipsum, nobis debitis eveniet aliquam, obcaecati tempore est quos repellat perspiciatis inventore, velit natus aut fuga voluptatibus delectus. Iure impedit recusandae ducimus, inventore atque?</p>
										<a href="forms-beta-testing.html" class="btn pushBtm20">Sign Up</a><a href="" class="btn btn_secondary">Download Invite PDF</a>
									</div>
									<div class="wrap wrap_alignRight">
										<a href="javascript:void(0);" class="js-toggle-trigger">
											<span>Show More</span>
											<span style="display: none;">Show Less</span>
										</a>
									</div>
								</div>
							</li>
							<li>
								<h3 class="hdg hdg_3 pushBtm10">Everything DiSC Productive Conflict Facilitation Beta 4</h3>
								<div class="pushBtm10">
									<span class="txt_med">10/16/2017</span> - <span class="txt_med">12/08/2017</span>
								</div>
								<p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda velit quibusdam aliquid tenetur ad accusamus dolores quo perferendis suscipit vel! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum mollitia tenetur commodi aliquid? Laudantium excepturi perferendis, deserunt soluta mollitia.</p>
								<div class="js-toggle">
									<div class="js-toggle-content" style="display: none;">
										<p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat accusantium saepe dolorum tempora necessitatibus labore illum ipsum, nobis debitis eveniet aliquam, obcaecati tempore est quos repellat perspiciatis inventore, velit natus aut fuga voluptatibus delectus. Iure impedit recusandae ducimus, inventore atque?</p>
										<p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat accusantium saepe dolorum tempora necessitatibus labore illum ipsum, nobis debitis eveniet aliquam, obcaecati tempore est quos repellat perspiciatis inventore, velit natus aut fuga voluptatibus delectus. Iure impedit recusandae ducimus, inventore atque?</p>
										<a href="forms-beta-testing.html" class="btn pushBtm20">Sign Up</a><a href="" class="btn btn_secondary">Download Invite PDF</a>
									</div>
									<div class="wrap wrap_alignRight">
										<a href="javascript:void(0);" class="js-toggle-trigger">
											<span>Show More</span>
											<span style="display: none;">Show Less</span>
										</a>
									</div>
								</div>
							</li>
						</ul>

					</div>
				</div>
			</div>

        </div>
{% endblock %}