<!-- client-overview.nunjucks -->
{% extends "layout.html" %}

{% block content %}

		{{header.active('ed')}}
		{{brandHeader.active('ed')}}
		{{subNav.active('ed')}}
		{{pageHeader.active('client')}}

        <div class="wrap wrap_content">

			<div class="wrap wrap_section">
				<div class="grid">
					<div class="grid-col grid-col_1of3">
						{{sideNav.active('client-overview')}}
					</div>
					<div class="grid-col grid-col_2of3">
						<h2 class="hdg hdg_2 hdg_gray pushBtm20">Overview</h2>
						<p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo molestias pariatur odio earum delectus impedit numquam enim placeat aperiam incidunt sapiente repellendus autem, voluptas cumque officia. Beatae ducimus, placeat vitae similique maxime. Voluptate eius illum, tempora architecto minus neque rem alias consequuntur officiis dolore ut iusto inventore, impedit ullam harum!</p>

						<p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quis, dolor. Laborum neque veritatis, dolor cum consequuntur, autem sint nihil modi nisi deserunt ducimus cumque optio ipsum! Fuga eligendi adipisci nesciunt reprehenderit laborum. Est laboriosam explicabo officiis accusantium! Deleniti officiis, excepturi, iusto quas error nam. Eum debitis officiis at. Veritatis debitis aliquam ex libero soluta ipsam quasi quo dolore delectus facilis odit temporibus fugiat enim vero architecto esse ipsa consectetur provident, aperiam ratione sunt explicabo. Dolor reprehenderit natus blanditiis, veritatis possimus. Omnis voluptatibus perspiciatis delectus eveniet, nisi ad libero nemo iusto illum minima voluptatum distinctio, fuga beatae facere possimus incidunt.</p>

						<img src="./media/images/ed-client-overview.png" alt="" class="imgResponsive">

						<hr class="pushTop20 pushBtm20">
							<span class="txt txt_med padLeft10 padRight10">Find Workplace Certification brochures and more in <a href="marketing-brochures.html">Marketing</a></span>
						<hr class="pushTop20 pushBtm20">
					</div>
				</div>
			</div>

        </div>
{% endblock %}