<!-- forms-customization-request.nunjucks -->
{% extends "layout.html" %}

{% block content %}

		{{header.active('mlc')}}
		{{pageHeader.active('forms-request-customization')}}

        <div class="wrap wrap_content">

			<div class="wrap wrap_section">
				<div class="grid">
					<div class="grid-col grid-col_2of3">
						<h2 class="hdg hdg_3 pushBtm20">The ebrochure you selected was:</h2>
						<div class="box pushBtm40">
							<p class="txt_bold">Everything DiSC Workplace Facilitation Kit Brochure</p>
						</div>

						<h3 class="hdg hdg_3 pushBtm20">Select additional ebrochures to be customized</h3>
						<div class="form">
							<ul class="pushBtm20">
								<li>
									<table class="checkbox">
										<tbody>
											<tr>
												<td><input type="checkbox" name="checkbox-product" id="checkbox-product-1"></td>
												<td><label for="checkbox-product-1">Everything DiSC Sales ebrochure</label></td>
											</tr>
										</tbody>
							         </table>
						        </li>
						        <li>
						        	<table class="checkbox">
										<tbody>
											<tr>
												<td><input type="checkbox" name="checkbox-product" id="checkbox-product-2"></td>
												<td><label for="checkbox-product-2">Everything DiSC Workplace ebrochure</label></td>
											</tr>
										</tbody>
							         </table>
						        </li>
						        <li>
						        	<table class="checkbox">
										<tbody>
											<tr>
												<td><input type="checkbox" name="checkbox-product" id="checkbox-product-3"></td>
												<td><label for="checkbox-product-3">Everything DiSC All Profiles brochure</label></td>
											</tr>
										</tbody>
							         </table>
						        </li>
						        <li>
						        	<table class="checkbox">
										<tbody>
											<tr>
												<td><input type="checkbox" name="checkbox-product" id="checkbox-product-4"></td>
												<td><label for="checkbox-product-4">Everything DiSC Sales ebrochure</label></td>
											</tr>
										</tbody>
							         </table>
						        </li>
						        <li>
						        	<table class="checkbox">
										<tbody>
											<tr>
												<td><input type="checkbox" name="checkbox-product" id="checkbox-product-5"></td>
												<td><label for="checkbox-product-5">Everything DiSC Workplace ebrochure</label></td>
											</tr>
										</tbody>
							         </table>
						        </li>
						        <li>
						        	<table class="checkbox">
										<tbody>
											<tr>
												<td><input type="checkbox" name="checkbox-product" id="checkbox-product-6"></td>
												<td><label for="checkbox-product-6">Everything DiSC All Profiles brochure</label></td>
											</tr>
										</tbody>
							         </table>
						        </li>
							</ul>

							<hr class="pushBtm20">

							<h3 class="hdg hdg_3 pushBtm10">Custom Content</h3>
							<p class="pushBtm20">Enter up to seven lines of personalized copy that will be added to the brochure.</p>
							<label for="custom-content-1" class="isHidden">Custom content line 1</label>
							<input type="text" id="custom-content-1" class="form-input form-input_required form-input_error">
							<div class="form-error"><i class="fa fa-exclamation-triangle padRight5"></i> One line of copy is required. Please enter line.</div>
							<label for="custom-content-2" class="isHidden">Custom content line 2</label>
							<input type="text" id="custom-content-2" class="form-input">
							<label for="custom-content-3" class="isHidden">Custom content line 3</label>
							<input type="text" id="custom-content-3" class="form-input">
							<label for="custom-content-4" class="isHidden">Custom content line 4</label>
							<input type="text" id="custom-content-4" class="form-input">
							<label for="custom-content-5" class="isHidden">Custom content line 5</label>
							<input type="text" id="custom-content-5" class="form-input">
							<label for="custom-content-6" class="isHidden">Custom content line 6</label>
							<input type="text" id="custom-content-6" class="form-input">
							<label for="custom-content-7" class="isHidden">Custom content line 7</label>
							<input type="text" id="custom-content-7" class="form-input">

							<hr class="pushBtm20">
							
							<h3 class="hdg hdg_3 pushBtm10">Upload Your Company Logo</h3>
							<p class="pushBtm10">Logo not required. Accepted files include PDF, JPEG, JPG, PNG, EPS, PSD, or Zip.</p>
							<label for="company-logo">Company Logo</label>
							<div class="wrap pushBtm20"><input type="file"></div>

							<hr class="pushBtm20">

							<h3 class="hdg hdg_3 pushBtm20">Project Contact Details</h3>
							<label for="full-name">Full Name</label>
							<input type="text" id="full-name" class="form-input form-input_required">
							<label for="email">Email</label>
							<input type="email" id="email" class="form-input form-input_required">
							<label for="phone-number">Phone Number</label>
							<input type="text" id="phone-number" class="form-input form-input_required">

							<!-- FORM SUBMISSION BUTTONS PRE-SUBMIT PLUS ERROR STATE -->
							<div class="wrap pushTop20">
								<input type="submit" class="btn" value="Submit">
								<a href="javascript:history.back()" class="btn btn_secondary">Cancel</a>
								<p class="txt_med txt_error pushTop20"><i class="fa fa-exclamation-triangle padRight5"></i>There was an error submitting the form. Please correct any required or incorrect fields.</p>
							</div>

							<!-- FORM SUBMISSION WITH SUCCESS STATE -->
							<div class="wrap pushTop20">
								<a href="javascript:history.back()" class="btn">Back</a>
								<p class="txt_med txt_success pushTop20"><i class="fa fa-check-circle padRight5"></i>Thanks! Your submission was successful.</p>
							</div>
						</div>

					</div>
					<div class="grid-col grid-col_1of3">
						<h3 class="hdg hdg_3 pushBtm20">Tips for Customizing</h3>
						<div class="wrap pushBtm20">
							<img src="media/images/ed-brochure.jpg" alt="" class="imgFlex">
						</div>

						<h4 class="hdg hdg_4 pushBtm10">Company Logo Specifications</h4>
						<p class="pushBtm20">Maximum logo size is 3-3/4 inches (9.525 CM) x 2 inches (5.08 CM) at 300 dots per inch or higher</p>

						<h4 class="hdg hdg_4 pushBtm10">Company Details</h4>
						<p class="pushBtm10">Enter up to seven lines of customized information. Re-enter your name,  email, and phone number under the Custom Content section. For example:</p>
						<ul class="list list_number">
							<li>Company Name</li>
							<li>Company Address</li>
							<li>Email Address</li>
							<li>Company URL</li>
							<li>Phone Number</li>
						</ul>
						<p class="pushBtm20">Note: One line of custom content is required.</p>

						<h4 class="hdg hdg_4 pushBtm10">Submit Form</h4>
						<p class="pushBtm20">Please allow 2-3 business days to receive your customized file(s).</p>
					</div>
				</div>
			</div>

        </div>
{% endblock %}