<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}

		{{header.active('mlc')}}
		
        <div class="wrap wrap_content">
        	<div class="wrap wrap_section">
				<ul class="list">
					<li><a href="sign-in.html">Sign In</a></li>
					<li><a href="register.html">Register</a></li>
					<li><a href="password-reset.html">Password Reset</a></li>
					<li><hr></li>
					<li><a href="mlc-home.html">MLC Home</a></li>
					<li><a href="everythingdisc-home.html">Everything DiSC Home</a></li>
					<li><a href="pxt-home.html">PXT Home</a></li>
					<li><a href="fivebehaviors-home.html">Five Behaviors Home</a></li>
					<li><a href="search.html">Search</a></li>
					<li><a href="events.html">Events</a></li>
					<li><a href="announcements.html">Announcements</a></li>
					<li><a href="marketing-overview.html">Marketing Overview</a></li>
					<li><a href="showcase-overview.html">Announcements</a></li>
					<li><hr></li>
					<li><a href="forms.html">Forms Home</a></li>
					<li><a href="forms-video-streaming.html">Forms Video Streaming</a></li>
					<li><a href="forms-language-request.html">Forms Language Request</a></li>
					<li><a href="forms-customization-request.html">Forms Customization Request</a></li>
					<li><a href="forms-recognition-award.html">Forms Recognition Award</a></li>
					<li><a href="forms-beta-testing.html">Forms Beta Testing</a></li>
					<li><hr></li>
					<li><a href="styleguide.html">Style Guide</a></li>
				</ul>
			</div>
        </div>
{% endblock %}