<!-- marketing.nunjucks -->
{% extends "layout.html" %}

{% block content %}

		{{header.active('ed')}}
		{{brandHeader.active('ed')}}
		{{subNav.active('ed')}}
		{{pageHeader.active('marketing-tools')}}

        <div class="wrap wrap_content">

			<div class="wrap wrap_section">
				<div class="grid">
					<div class="grid-col grid-col_1of3">
						{{sideNav.active('marketing-brochures')}}
					</div>
					<div class="grid-col grid-col_2of3">
						{{cards.active('2col-brochures')}}
					</div>
				</div>
			</div>

        </div>
{% endblock %}