<!-- password-reset.nunjucks -->
{% extends "layout.html" %}

{% block content %}
		{{header.active('sign-in')}}

        <div class="wrap wrap_section wrap_sm">
			<div class="wrap wrap_alignCenter">
				<h1 class="hdg hdg_1 pushTop20 pushBtm40">Forgot Password</h1>
			</div>
			<div class="wrap pushBtm20">
				<label for="email-address">Enter email address</label>
				<input type="email" class="form-input">
			</div>
			<div class="wrap pushBtm20">
				<span class="txt_block pushBtm20">Please answer the following security question to reset your password:</span>
				<span class="txt_block txt_italic pushBtm20">Who is your favorite musician?</span>
				<label for="email-address">Enter Answer</label>
				<input type="text" class="form-input">
			</div>
			<div class="wrap wrap_alignCenter pushBtm40">
				<a href="javascript:void(0);" class="btn btn_tertiary">Get Password</a>
				<a href="sign-in.html">Sign In</a>
			</div>
        </div>
{% endblock %}