<!-- search.nunjucks -->
{% extends "layout.html" %}

{% block content %}
		{{header.active('mlc')}}
		{{pageHeader.active('search')}}

        <div class="wrap wrap_content">
			<div class="wrap wrap_section">
				<div class="searchResult">
					<h2 class="hdg hdg_3 pushBtm10"><a href="/Everything-DiSC-Master/Everything-DiSC-Home.aspx">Everything DiSC Home</a></h2>
					<p class="pushBtm10"><a href="/Everything-DiSC-Master/Everything-DiSC-Home.aspx">http://staging2.mindlabconnect.com/Everything-DiSC-Master/Everything-DiSC-Home.aspx</a></p>
					<p>Don't miss out The Better Together Marketing Program This Partner-focused program spotlights you, our Authorized Partners, as the source of our <strong>Everything</strong> <strong>DiSC</strong>® brand. Join Now Learn More Extend the learning Are you the beta testing type? Are you knowledgeable about ...</p>
					<hr>
				</div>
				<div class="searchResult">
					<h2 class="hdg hdg_3 pushBtm10"><a href="/Everything-DiSC-Master/Everything-DiSC-Home.aspx">Everything DiSC Home</a></h2>
					<p class="pushBtm10"><a href="/Everything-DiSC-Master/Everything-DiSC-Home.aspx">http://staging2.mindlabconnect.com/Everything-DiSC-Master/Everything-DiSC-Home.aspx</a></p>
					<p>Don't miss out The Better Together Marketing Program This Partner-focused program spotlights you, our Authorized Partners, as the source of our <strong>Everything</strong> <strong>DiSC</strong>® brand. Join Now Learn More Extend the learning Are you the beta testing type? Are you knowledgeable about ...</p>
					<hr>
				</div>
				<div class="searchResult">
					<h2 class="hdg hdg_3 pushBtm10"><a href="/Everything-DiSC-Master/Everything-DiSC-Home.aspx">Everything DiSC Home</a></h2>
					<p class="pushBtm10"><a href="/Everything-DiSC-Master/Everything-DiSC-Home.aspx">http://staging2.mindlabconnect.com/Everything-DiSC-Master/Everything-DiSC-Home.aspx</a></p>
					<p>Don't miss out The Better Together Marketing Program This Partner-focused program spotlights you, our Authorized Partners, as the source of our <strong>Everything</strong> <strong>DiSC</strong>® brand. Join Now Learn More Extend the learning Are you the beta testing type? Are you knowledgeable about ...</p>
					<hr>
				</div>
			</div>

        </div>
{% endblock %}