<!-- sign-in.nunjucks -->
{% extends "layout.html" %}

{% block content %}
			{{header.active('sign-in')}}

	        <div class="wrap wrap_section wrap_sm">
				<div class="wrap wrap_alignCenter">
					<h1 class="hdg hdg_1 pushTop20 pushBtm40">Sign In</h1>
				</div>
				<div class="wrap pushBtm20">
					<label for="username">Enter Username</label>
					<input type="text" class="form-input">
					<label for="">Enter Password</label>
					<input type="password" class="form-input">
				</div>
				<div class="wrap wrap_alignCenter pushBtm40">
					<a href="mlc-home.html" class="btn">Sign In</a>
					<a href="#">Forgot Password</a>
				</div>
	        </div>
{% endblock %}