					<div class="tab-content-item js-tab-content-item">
						<!-- BEGIN DRAWER MODULE -->
						<div class="drawer js-drawer">
						    <div class="drawer-trigger js-drawer-trigger">
						    	<a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h2 class="hdg hdg_2 hdg_gray hdg_inlineBlock">Upload Samples</h2></a>
						    </div>
						    <div class="drawer-content js-drawer-content">
								<div class="grid">
									<div class="grid-col grid-col_2of4">
										<label for="upload-choose-brand">Choose Brand</label>
										<select name="upload-choose-brand" id="upload-choose-brand" class="form-input">
											<option value="">Everything DiSC</option>
											<option value="">Five Behaviors</option>
											<option value="">PXT Select</option>
										</select>
										<label for="upload-choose-product">Choose Product</label>
										<select name="upload-choose-product" id="upload-choose-product" class="form-input">
											<option value="">Product 1</option>
											<option value="">Product Two</option>
											<option value="">Product Threive</option>
										</select>
										<label for="upload-upload-file">Upload Instructions PDF</label>
										<div class="box pushBtm20">
											<span class="txt_block pushBtm10">Current File: <span class="txt_bold">something.pdf</span></span>
											<span>Upload new file: </span><input type="file" id="upload-upload-file">
										</div>
										<label for="upload-marketing-sample">Marketing Sample</label>
										<input type="text" id="upload-marketing-sample" class="form-input" placeholder="Enter Identifier">
										<input type="submit" class="btn btn_tertiary" value="Save" disabled>
									</div>
									<div class="grid-col grid-col_2of4"></div>
								</div>
						    </div>
						</div><!-- END DRAWER MODULE -->

						<!-- BEGIN DRAWER MODULE -->
						<div class="drawer js-drawer">
						    <div class="drawer-trigger js-drawer-trigger">
						    	<a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h2 class="hdg hdg_2 hdg_gray hdg_inlineBlock">Manage Scoring</h2></a>
						    </div>
						    <div class="drawer-content js-drawer-content">
								<div class="grid">
									<div class="grid-col grid-col_2of4">
										<label for="scoring-choose-language">Choose Language</label>
										<select name="scoring-choose-language" id="scoring-choose-language" class="form-input">
											<option value="">English</option>
											<option value="">Portugese</option>
											<option value="">Russian</option>
										</select>
										<label for="scoring-choose-brand">Choose Brand</label>
										<select name="scoring-choose-brand" id="scoring-choose-brand" class="form-input">
											<option value="">Everything DiSC</option>
											<option value="">Five Behaviors</option>
											<option value="">PXT Select</option>
										</select>
										<label for="scoring-choose-product">Choose Product</label>
										<select name="scoring-choose-product" id="scoring-choose-product" class="form-input">
											<option value="">Product 1</option>
											<option value="">Product Two</option>
											<option value="">Product Threive</option>
										</select>
										<label for="scoring-upload-file">Upload Scoring XLS File</label>
										<div class="box pushBtm20">
											<span class="txt_block pushBtm10">Current File: <span class="txt_bold">something.xls</span></span>
											<span>Upload new file: </span><input type="file" id="scoring-upload-file">
										</div>
										<input type="submit" class="btn btn_tertiary" value="Save">
									</div>
									<div class="grid-col grid-col_2of4"></div>
								</div>
						    </div>
						</div><!-- END DRAWER MODULE -->

						<!-- BEGIN DRAWER MODULE -->
						<div class="drawer js-drawer">
						    <div class="drawer-trigger js-drawer-trigger">
						    	<a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h2 class="hdg hdg_2 hdg_gray hdg_inlineBlock">Manage Pricing</h2></a>
						    </div>
						    <div class="drawer-content js-drawer-content">
								<div class="grid">
									<div class="grid-col grid-col_2of4">
										<label for="pricing-choose-language">Choose Language</label>
										<select name="pricing-choose-language" id="pricing-choose-language" class="form-input">
											<option value="">English</option>
											<option value="">Portugese</option>
											<option value="">Russian</option>
										</select>
										<label for="pricing-choose-brand">Choose Brand</label>
										<select name="pricing-choose-brand" id="pricing-choose-brand" class="form-input">
											<option value="">Everything DiSC</option>
											<option value="">Five Behaviors</option>
											<option value="">PXT Select</option>
										</select>
										<label for="pricing-choose-product">Choose Product</label>
										<select name="pricing-choose-product" id="pricing-choose-product" class="form-input">
											<option value="">Product 1</option>
											<option value="">Product Two</option>
											<option value="">Product Threive</option>
										</select>
										<label for="scoring-upload-file">Enter Pricing (credits)</label>
										<label for="pricing-enter-pricing"></label>
										<input type="text" class="form-input" id="pricing-enter-pricing">
										<div class="wrap pushBtm20">
											<a href="project-pricing.html">See all pricing</a>
										</div>
										<input type="submit" class="btn btn_tertiary" value="Save">
									</div>
									<div class="grid-col grid-col_2of4"></div>
								</div>
						    </div>
						</div><!-- END DRAWER MODULE -->

						<!-- BEGIN DRAWER MODULE -->
						<div class="drawer js-drawer">
						    <div class="drawer-trigger js-drawer-trigger">
						    	<a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h2 class="hdg hdg_2 hdg_gray hdg_inlineBlock">Add Instructions</h2></a>
						    </div>
						    <div class="drawer-content js-drawer-content">
								<div class="grid">
									<div class="grid-col grid-col_2of4">
										<label for="instructions-choose-brand">Choose Brand</label>
										<select name="instructions-choose-brand" id="instructions-choose-brand" class="form-input">
											<option value="">Everything DiSC</option>
											<option value="">Five Behaviors</option>
											<option value="">PXT Select</option>
										</select>
										<label for="instructions-choose-component">Choose Component</label>
										<select name="instructions-choose-component" id="instructions-choose-component" class="form-input">
											<option value="">Component 1</option>
											<option value="">Component Two</option>
											<option value="">Component Threive</option>
										</select>
										<label for="instructions-upload-file">Upload Instructions PDF</label>
										<div class="box pushBtm20">
											<span class="txt_block pushBtm10">Current File: <span class="txt_bold">something.pdf</span></span>
											<span>Upload new file: </span><input type="file" id="instructions-upload-file">
										</div>
										<input type="submit" class="btn btn_tertiary" value="Save">
									</div>
									<div class="grid-col grid-col_2of4"></div>
								</div>
						    </div>
						</div><!-- END DRAWER MODULE -->

						<!-- BEGIN DRAWER MODULE -->
						<div class="drawer js-drawer">
						    <div class="drawer-trigger js-drawer-trigger">
						    	<a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h2 class="hdg hdg_2 hdg_gray hdg_inlineBlock">Manage Glossaries</h2></a>
						    </div>
						    <div class="drawer-content js-drawer-content">
								<div class="grid">
									<div class="grid-col grid-col_2of4">
										<label for="glossaries-choose-brand">Choose Brand</label>
										<select name="glossaries-choose-brand" id="glossaries-choose-brand" class="form-input">
											<option value="">Everything DiSC</option>
											<option value="">Five Behaviors</option>
											<option value="">PXT Select</option>
										</select>
										<label for="glossaries-upload-file">Upload Glossary .doc</label>
										<div class="box pushBtm20">
											<span class="txt_block pushBtm10">Current File: <span class="txt_bold">something.doc</span></span>
											<span>Upload new file: </span><input type="file" id="glossaries-upload-file">
										</div>
										<input type="submit" class="btn btn_tertiary" value="Save">
									</div>
									<div class="grid-col grid-col_2of4"></div>
								</div>
						    </div>
						</div><!-- END DRAWER MODULE -->

						<!-- BEGIN DRAWER MODULE -->
						<div class="drawer js-drawer">
						    <div class="drawer-trigger js-drawer-trigger">
						    	<a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h2 class="hdg hdg_2 hdg_gray hdg_inlineBlock">Manage Languages</h2></a>
						    </div>
						    <div class="drawer-content js-drawer-content">
								<div class="grid">
									<div class="grid-col grid-col_2of4">
										<label>Add Languages</label>
										<div class="wrap pushBtm20">
											<div class="box box_maxHeight300">
												<ul class="checkbox">
													<li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-1" />
											            <label for="checkbox-choice-1" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Albanian</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-2" />            
											            <label for="checkbox-choice-2" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Bulgarian</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-3" checked />            
											            <label for="checkbox-choice-3" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Cantonese</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-4" />            
											            <label for="checkbox-choice-4" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Chinese</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-5" />            
											            <label for="checkbox-choice-5" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Finnish</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-1" />
											            <label for="checkbox-choice-1" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Albanian</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-2" />            
											            <label for="checkbox-choice-2" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Bulgarian</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-3" checked />            
											            <label for="checkbox-choice-3" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Cantonese</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-4" />            
											            <label for="checkbox-choice-4" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Chinese</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-5" />            
											            <label for="checkbox-choice-5" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Finnish</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-1" />
											            <label for="checkbox-choice-1" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Albanian</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-2" />            
											            <label for="checkbox-choice-2" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Bulgarian</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-3" checked />            
											            <label for="checkbox-choice-3" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Cantonese</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-4" />            
											            <label for="checkbox-choice-4" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Chinese</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-5" />            
											            <label for="checkbox-choice-5" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Finnish</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-1" />
											            <label for="checkbox-choice-1" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Albanian</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-2" />            
											            <label for="checkbox-choice-2" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Bulgarian</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-3" checked />            
											            <label for="checkbox-choice-3" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Cantonese</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-4" />            
											            <label for="checkbox-choice-4" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Chinese</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-5" />            
											            <label for="checkbox-choice-5" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Finnish</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-1" />
											            <label for="checkbox-choice-1" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Albanian</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-2" />            
											            <label for="checkbox-choice-2" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Bulgarian</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-3" checked />            
											            <label for="checkbox-choice-3" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Cantonese</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-4" />            
											            <label for="checkbox-choice-4" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Chinese</span>
											            </label>
											        </li>
											        <li>
											            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-5" />            
											            <label for="checkbox-choice-5" class="checkbox-custom">
											            	<i class="fa fa-check-square-o"></i>
											            	<i class="fa fa-square-o"></i>
											            	<span class="checkbox-text">Finnish</span>
											            </label>
											        </li>
												</ul>
											</div>
										</div>
										<input type="submit" class="btn btn_tertiary" value="Save">
									</div>
									<div class="grid-col grid-col_2of4"></div>
								</div>
						    </div>
						</div><!-- END DRAWER MODULE -->
					</div>