					<div class="tab-content-item js-tab-content-item">
						<table class="table table_whiteHead">
							<thead>
								<th></th>
								<th>Date</th>
								<th>Language</th>
								<th>Brand</th>
								<th>Component</th>
								<th></th>
								<th colspan="2">Actions</th>
							</thead>
							<tbody>
								<tr>
									<td><span class="circle">HB</span></td>
									<td><span class="txt_bold">18 August, 2017</span></td>
									<td>Portugese</td>
									<td>Five Behaviors</td>
									<td>Assessment</td>
									<td><span class="txt_green txt_lg"><i class="fa fa-check-circle"></i></span></td>
									<td>
										<a href="audit-results.html" class="btn btn_secondary">Audit</a>
										<a href="javascript:void(0);" class="btn">Submit</a>
									</td>
									<td>
										<a href="javascript:void(0);" class="table-close"><i class="fa fa-times"></i></a>
									</td>
								</tr>
								<tr>
									<td><span class="circle">TY</span></td>
									<td><span class="txt_bold">24 August, 2017</span></td>
									<td>Bulgarian</td>
									<td>Everything DiSC</td>
									<td>Workplace Report</td>
									<td><span class="txt_yellow txt_lg"><i class="fa fa-exclamation-triangle"></i></span></td>
									<td>
										<a href="audit-results.html" class="btn btn_secondary">Audit</a>
										<a href="javascript:void(0);" class="btn">Submit</a>
									</td>
									<td>
										<a href="javascript:void(0);" class="table-close"><i class="fa fa-times"></i></a>
									</td>
								</tr>
								<tr>
									<td colspan="8">
										<div class="box box_grayLight">
											<div class="wrap wrap_alignCenter">
												<span class="txt_bold txt_block pushBtm10">Are you sure you want to delete this?</span>
												<a href="javascript:void(0);" class="btn btn_sm">Delete</a>
												<a href="javascript:void(0);" class="btn btn_sm btn_tertiary">Cancel</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>

					</div>