					<div class="tab-content-item js-tab-content-item">
						<!-- BEGIN DRAWER MODULE -->
						<div class="drawer js-drawer">
						    <div>
						    	<ul class="blocks blocks_2col blocks_noMarginBtm">
						    		<li class="drawer-trigger js-drawer-trigger">
						    			<a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h2 class="hdg hdg_2 hdg_gray hdg_inlineBlock">Armenian</h2></a>
						    		</li>
						    		<li>
						    			<div class="wrap wrap_alignRight padTop13 padRight10">
						    				<div class="circle js-tip">
						    					<span class="js-tip-trigger">AA</span>
						    					<div class="tip-content js-tip-content">
						    						<span class="txt_block txt_semiMed pushBtm5">Margorie Prince</span>
						    						<span class="txt_block">Translator</span>
						    						<span class="txt_block">XYZ Partnership</span>
						    					</div>
						    				</div>
						    				<div class="circle">BB</div>
						    				<div class="circle">CC</div>
						    				<div class="circle">XX</div>
						    				<div class="circle">ZZ</div>
						    				<div class="circle">YY</div>
						    				<div class="circle">GG</div>
						    				<div class="circle">HH</div>
						    				<div class="circle">TT</div>
						    				<div class="circle">LL</div>
						    				<div class="circle">RR</div>
						    				<div class="circle">WW</div>
						    				<div class="circle">WR</div>
						    				<div class="circle">AA</div>
						    			</div>
						    		</li>
						    	</ul>
						    </div>
						    <div class="drawer-content js-drawer-content">
						    	<div class="wrap pushBtm10">
							    	<div class="drawer">
										<div class="drawer-trigger drawer-trigger_gray">
											<img src="./media/images/ed-logo.png" alt="Everything DiSC logo" class="img120">
										</div>
									</div>
									<div class="drawer">
										<div class="drawer-trigger">
											<ul class="blocks blocks_2col blocks_noMarginBtm">
												<li><h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Glossary</h3></li>
												<li><a href="glossary.html" class="link padTop5">Everything DiSC Glossary</a></li>
											</ul>
										</div>
									</div>
									<div class="drawer">
										<div class="drawer-trigger">
											<ul class="blocks blocks_2col blocks_noMarginBtm">
												<li><h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Assessment</h3></li>
												<li><a href="assessment.html" class="link padTop5">Everything DiSC Assessment</a></li>
											</ul>
										</div>
									</div>

	    							<!-- BEGIN SUB DRAWER MODULE -->
									<div class="drawer js-subDrawer">
									    <div class="drawer-trigger js-subDrawer-trigger">
									        <a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Reports</h3></a>
									    </div>
									    <div class="drawer-content js-subDrawer-content">
									        <ul class="blocks blocks_2col blocks_marginBtm10">
									        	<li><a href="workplace-report.html">Everything DiSC Workplace</a></li>
									        	<li><a href="workplace-report.html">Everything DiSC 363 for Leaders</a></li>
									        	<li><a href="workplace-report.html">Everything DiSC Comparison Report</a></li>
									        	<li><a href="workplace-report.html">Everything DiSC Productive Conflict</a></li>
									        	<li><a href="workplace-report.html">Everything DiSC Group Culture</a></li>
									        </ul>
									    </div>
									</div><!-- END SUB DRAWER MODULE -->

									<!-- BEGIN SUB DRAWER MODULE -->
									<div class="drawer js-subDrawer">
									    <div class="drawer-trigger js-subDrawer-trigger">
									        <a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Respondent Sites</h3></a>
									    </div>
									    <div class="drawer-content js-subDrawer-content">
									        <ul class="blocks blocks_2col blocks_marginBtm10">
									        	<li><a href="workplace-report.html">Everything DiSC Workplace</a></li>
									        	<li><a href="workplace-report.html">Everything DiSC 363 for Leaders</a></li>
									        	<li><a href="workplace-report.html">Everything DiSC Comparison Report</a></li>
									        </ul>
									    </div>
									</div><!-- END SUB DRAWER MODULE -->
						    	</div>

								<div class="wrap pushBtm10">
									<div class="drawer">
										<div class="drawer-trigger">
											<img src="./media/images/5b-logo.png" alt="Five Behaviors of a Cohesive Team logo" class="img120">
										</div>
									</div>
									<div class="drawer">
										<div class="drawer-trigger">
											<ul class="blocks blocks_2col blocks_noMarginBtm">
												<li><h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Glossary</h3></li>
												<li><a href="#" class="link padTop5">Five Behaviors Glossary</a></li>
											</ul>
										</div>
									</div>
									<div class="drawer">
										<div class="drawer-trigger">
											<ul class="blocks blocks_2col blocks_noMarginBtm">
												<li><h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Assessment</h3></li>
												<li><a href="assessment.html" class="link padTop5">Five Behaviors Assessment</a></li>
											</ul>
										</div>
									</div>

	    							<!-- BEGIN SUB DRAWER MODULE -->
									<div class="drawer js-subDrawer">
									    <div class="drawer-trigger js-subDrawer-trigger">
									        <a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Reports</h3></a>
									    </div>
									    <div class="drawer-content js-subDrawer-content">
									        <ul class="blocks blocks_2col blocks_marginBtm10">
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        </ul>
									    </div>
									</div><!-- END SUB DRAWER MODULE -->

									<!-- BEGIN SUB DRAWER MODULE -->
									<div class="drawer js-subDrawer">
									    <div class="drawer-trigger js-subDrawer-trigger">
									        <a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Respondent Sites</h3></a>
									    </div>
									    <div class="drawer-content js-subDrawer-content">
									        <ul class="blocks blocks_2col blocks_marginBtm10">
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        </ul>
									    </div>
									</div><!-- END SUB DRAWER MODULE -->
								</div>

						    </div>
						</div><!-- END DRAWER MODULE -->

						<!-- BEGIN DRAWER MODULE -->
						<div class="drawer js-drawer">
						    <div>
						        <ul class="blocks blocks_2col blocks_noMarginBtm">
						    		<li class="drawer-trigger js-drawer-trigger">
						    			<a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h2 class="hdg hdg_2 hdg_gray hdg_inlineBlock">Bulgarian</h2></a>
						    		</li>
						    		<li>
						    			<div class="wrap wrap_alignRight padTop13 padRight10">
						    				<div class="circle">AA</div>
						    				<div class="circle">BB</div>
						    				<div class="circle">CC</div>
						    				<div class="circle">XX</div>
						    				<div class="circle">ZZ</div>
						    				<div class="circle js-tip">
						    					<span class="js-tip-trigger">AA</span>
						    					<div class="tip-content js-tip-content">
						    						<span class="txt_block txt_semiMed pushBtm5">Margorie Prince</span>
						    						<span class="txt_block">Translator</span>
						    						<span class="txt_block">XYZ Partnership</span>
						    					</div>
						    				</div>
						    			</div>
						    		</li>
						    	</ul>
						    </div>
						    <div class="drawer-content js-drawer-content">
						    	<div class="wrap pushBtm10">
							    	<div class="drawer">
										<div class="drawer-trigger">
											<img src="./media/images/ed-logo.png" alt="Everything DiSC logo" class="img120">
										</div>
									</div>
									<div class="drawer">
										<div class="drawer-trigger">
											<ul class="blocks blocks_2col blocks_noMarginBtm">
												<li><h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Glossary</h3></li>
												<li><a href="#" class="link padTop5">Everything DiSC Glossary</a></li>
											</ul>
										</div>
									</div>
									<div class="drawer">
										<div class="drawer-trigger">
											<ul class="blocks blocks_2col blocks_noMarginBtm">
												<li><h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Assessment</h3></li>
												<li><a href="#" class="link padTop5">Everything DiSC Assessment</a></li>
											</ul>
										</div>
									</div>

	    							<!-- BEGIN SUB DRAWER MODULE -->
									<div class="drawer js-subDrawer">
									    <div class="drawer-trigger js-subDrawer-trigger">
									        <a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Reports <span class="txt_yellow"><i class="fa fa-exclamation-triangle"></i></span></h3></a>
									    </div>
									    <div class="drawer-content js-subDrawer-content">
									        <ul class="blocks blocks_2col blocks_marginBtm10">
									        	<li><a href="">Everything DiSC Workplace</a> <span class="txt_yellow"><i class="fa fa-exclamation-triangle"></i></span></li>
									        	<li><a href="">Everything DiSC 363 for Leaders</a></li>
									        	<li><a href="">Everything DiSC Comparison Report</a></li>
									        	<li><a href="">Everything DiSC Productive Conflict</a></li>
									        	<li><a href="">Everything DiSC Group Culture</a></li>
									        </ul>
									    </div>
									</div><!-- END SUB DRAWER MODULE -->

									<!-- BEGIN SUB DRAWER MODULE -->
									<div class="drawer js-subDrawer">
									    <div class="drawer-trigger js-subDrawer-trigger">
									        <a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Respondent Sites</h3></a>
									    </div>
									    <div class="drawer-content js-subDrawer-content">
									        <ul class="blocks blocks_2col blocks_marginBtm10">
									        	<li><a href="">Everything DiSC Workplace</a></li>
									        	<li><a href="">Everything DiSC 363 for Leaders</a></li>
									        	<li><a href="">Everything DiSC Comparison Report</a></li>
									        </ul>
									    </div>
									</div><!-- END SUB DRAWER MODULE -->
						    	</div>

								<div class="wrap pushBtm10">
									<div class="drawer">
										<div class="drawer-trigger drawer-trigger_gray">
											<img src="./media/images/5b-logo.png" alt="Five Behaviors of a Cohesive Team logo" class="img120">
										</div>
									</div>
									<div class="drawer">
										<div class="drawer-trigger">
											<ul class="blocks blocks_2col blocks_noMarginBtm">
												<li><h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Glossary</h3></li>
												<li><a href="#" class="link padTop5">Five Behaviors Glossary</a></li>
											</ul>
										</div>
									</div>
									<div class="drawer">
										<div class="drawer-trigger">
											<ul class="blocks blocks_2col blocks_noMarginBtm">
												<li><h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Assessment</h3></li>
												<li><a href="#" class="link padTop5">Five Behaviors Assessment</a></li>
											</ul>
										</div>
									</div>

	    							<!-- BEGIN SUB DRAWER MODULE -->
									<div class="drawer js-subDrawer">
									    <div class="drawer-trigger js-subDrawer-trigger">
									        <a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Reports</h3></a>
									    </div>
									    <div class="drawer-content js-subDrawer-content">
									        <ul class="blocks blocks_2col blocks_marginBtm10">
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        </ul>
									    </div>
									</div><!-- END SUB DRAWER MODULE -->

									<!-- BEGIN SUB DRAWER MODULE -->
									<div class="drawer js-subDrawer">
									    <div class="drawer-trigger js-subDrawer-trigger">
									        <a href="javascript:void(0)"><i class="fa fa-chevron-right padRight5"></i> <h3 class="hdg hdg_3 hdg_alt hdg_gray hdg_inlineBlock">Respondent Sites</h3></a>
									    </div>
									    <div class="drawer-content js-subDrawer-content">
									        <ul class="blocks blocks_2col blocks_marginBtm10">
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        	<li><a href="">Five Behaviors of a Cohesive Team</a></li>
									        </ul>
									    </div>
									</div><!-- END SUB DRAWER MODULE -->
								</div>

						    </div>
						</div><!-- END DRAWER MODULE -->
					</div>