/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

html {
  overflow-y: scroll;
  /* Always show a vertical scrollbar, even when there is no scrolling */ }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

audio, canvas, video, progress, picture {
  display: inline-block; }

template {
  display: none; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* ---------------------------------------------------------------------
 Button Reset Styles
------------------------------------------------------------------------ */
button {
  margin: 0;
  border: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  font: inherit;
  cursor: pointer;
  background: none;
  -webkit-font-smoothing: inherit; }

html,
body {
  height: 100% !important;
  -webkit-font-smoothing: antialiased; }

body {
  background: #FFFFFF;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  color: #26545D;
  line-height: 1.3; }

body * {
  box-sizing: border-box; }

body > form {
  height: 100%;
  margin-bottom: -44px; }

/* Kentico sticky footer fix */
@media only screen and (max-width: 767px) {
  body > form {
    margin-bottom: -82px; } }

/* Kentico sticky footer fix for mobile */
a {
  color: #0BB169;
  font-weight: 600;
  text-decoration: none; }

a:hover,
a:focus {
  color: #149B87; }

.ed a {
  color: #0091d2; }

.ed a:hover,
.ed a:focus {
  color: #00597F; }

.fb a {
  color: #D33039; }

.fb a:hover,
.fb a:focus {
  color: #b02c32; }

.pxt a {
  color: #00AFB2; }

.pxt a:hover,
.pxt a:focus {
  color: #196C7D; }

hr {
  border: none;
  border-bottom: 1px solid #E9EEEE; }

pre {
  word-wrap: break-word; }

::selection {
  background: #8bf5c7;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #8bf5c7;
  /* Gecko Browsers */ }

::-webkit-input-placeholder {
  /* Chrome */
  color: #95a9ad; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #95a9ad; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #95a9ad;
  opacity: 1; }

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #95a9ad;
  opacity: 1; }

/* ---------------------------------------------------------------------
Hide Content Styles
------------------------------------------------------------------------ */
.isHidden {
  display: none !important; }

.isVisuallyHidden {
  height: 0 !important;
  position: absolute !important;
  left: -9999px !important; }

@media only screen and (max-width: 767px) {
  .isHiddenMobile {
    display: none; } }

@media only screen and (min-width: 768px) {
  .isHiddenDesktop {
    display: none; } }

/* ---------------------------------------------------------------------
Mixin Adjustment Styles
------------------------------------------------------------------------ */
.pushLeft5 {
  margin-left: 5px; }

.pushLeft10 {
  margin-left: 10px; }

.pushLeft20 {
  margin-left: 20px; }

.pushLeft40 {
  margin-left: 40px; }

.pushRight5 {
  margin-right: 5px; }

.pushRight10 {
  margin-right: 10px; }

.pushRight20 {
  margin-right: 20px; }

.pushRight40 {
  margin-right: 40px; }

.pushTop5 {
  margin-top: 5px; }

.pushTop10 {
  margin-top: 10px; }

.pushTop20 {
  margin-top: 20px; }

.pushTop40 {
  margin-top: 40px; }

.pushTop80 {
  margin-top: 80px; }

.pushBtm0 {
  margin-bottom: 0; }

.pushBtm5 {
  margin-bottom: 5px; }

.pushBtm10 {
  margin-bottom: 10px; }

.pushBtm20 {
  margin-bottom: 20px; }

.pushBtm40 {
  margin-bottom: 40px; }

.pullLeft5 {
  margin-left: -5px; }

.pullLeft10 {
  margin-left: -10px; }

.pullLeft20 {
  margin-left: -20px; }

.pullLeft40 {
  margin-left: -40px; }

.pullRight5 {
  margin-right: -5px; }

.pullRight10 {
  margin-right: -10px; }

.pullRight20 {
  margin-right: -20px; }

.pullRight40 {
  margin-right: -40px; }

.pullTop5 {
  margin-top: -5px; }

.pullTop10 {
  margin-top: -10px; }

.pullTop20 {
  margin-top: -20px; }

.pullTop25 {
  margin-top: -25px; }

.pullTop40 {
  margin-top: -40px; }

.pullBtm5 {
  margin-bottom: -5px; }

.pullBtm10 {
  margin-bottom: -10px; }

.pullBtm20 {
  margin-bottom: -20px; }

.pullBtm40 {
  margin-bottom: -40px; }

.padRight5 {
  padding-right: 5px; }

.padRight10 {
  padding-right: 10px; }

.padRight20 {
  padding-right: 20px; }

.padRight40 {
  padding-right: 40px; }

.padLeft5 {
  padding-left: 5px; }

.padLeft10 {
  padding-left: 10px; }

.padLeft20 {
  padding-left: 20px; }

.padLeft40 {
  padding-left: 40px; }

.padTop5 {
  padding-top: 5px; }

.padTop10 {
  padding-top: 10px; }

.padTop13 {
  padding-top: 13px; }

.padTop20 {
  padding-top: 20px; }

.padTop30 {
  padding-top: 30px; }

.padTop40 {
  padding-top: 40px; }

.padTop80 {
  padding-top: 80px; }

.padBtm5 {
  padding-bottom: 5px; }

.padBtm10 {
  padding-bottom: 10px; }

.padBtm20 {
  padding-bottom: 20px; }

.padBtm30 {
  padding-bottom: 30px; }

.padBtm40 {
  padding-bottom: 40px; }

/*----------------------------------------------------------------------
 Sticky Footer
----------------------------------------------------------------------*/
.stickyFooter {
  min-height: 100%;
  margin-bottom: -82px; }

.stickyFooter:after {
  display: block;
  content: "";
  height: 82px; }

.footer {
  background: #26545D; }

.footer-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  color: #FFFFFF; }
  .footer-content:before, .footer-content:after {
    content: " ";
    display: table; }
  .footer-content:after {
    clear: both; }

.footer-content > * {
  display: block;
  text-align: center; }

.footer-legal {
  padding-bottom: 20px; }

.footer-legal small {
  font-size: 12px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 58px;
  margin: 0;
  z-index: 100;
  padding: 10px 0;
  background: #26545D;
  color: #FFFFFF;
  font-size: 12px; }

.header-content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative; }

.header-content > * {
  display: block; }

.header-logo {
  line-height: 0;
  padding: 0 20px 0 10px;
  margin: 12px 0; }

.header-logo img {
  width: 240px; }

.header-trigger {
  position: absolute;
  top: -9px;
  right: 10px;
  font-size: 24px;
  cursor: pointer; }

.header-action {
  display: none;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 34px;
  background: #26545D; }

.header-nav {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 10px; }

.header-nav > li {
  display: block; }

.header-nav > li > * {
  display: block;
  padding: 10px 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400; }

.header-nav > li > *:hover,
.header-nav > li > *:focus {
  color: #8bf5c7; }

.header-dropdown {
  position: relative; }
  .header-dropdown .header-dropdown-trigger {
    display: block;
    cursor: pointer; }
  .header-dropdown .header-dropdown-trigger i {
    transition: transform .2s linear; }
  .header-dropdown .header-dropdown-trigger.active i {
    transform: rotateX(180deg); }
  .header-dropdown .header-dropdown-content {
    display: none; }
  .header-dropdown .header-dropdown-content a {
    display: block;
    padding: 5px 10px;
    color: #FFFFFF;
    font-weight: 400; }
  .header-dropdown .header-dropdown-content a:hover,
  .header-dropdown .header-dropdown-content a:focus {
    color: #8bf5c7; }
  .header-dropdown .header-dropdown-content li:first-child a {
    padding-top: 0; }

.header-search {
  display: inline-block;
  width: 80%;
  margin-bottom: 10px;
  text-align: left; }

.header-logout {
  display: inline-block;
  width: 19%;
  text-align: right; }

.header-logout a {
  display: inline-block;
  padding-top: 4px;
  color: #FFFFFF;
  font-weight: 400;
  vertical-align: middle; }

.header-logout a:hover,
.header-logout a:focus {
  color: #8bf5c7; }

.header-gap {
  height: 58px; }

.alert {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  background: #fdd601;
  text-align: center; }

.alert_error {
  background: #bd2553;
  color: #FFFFFF; }

.alert_message {
  background: #149B87;
  color: #FFFFFF; }

.ed .alert_message {
  background: #00597F; }

.fb .alert_message {
  background: #b02c32; }

.pxt .alert_message {
  background: #196C7D; }

.alert-content {
  max-width: 1260px;
  margin: 0 auto;
  padding: 20px 30px 20px 10px;
  font-size: 16px; }

.alert i[class*="icon-"] {
  padding-right: 5px; }

.alert-close {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  font-size: 20px;
  line-height: 0;
  cursor: pointer; }

.brandHeading-content {
  max-width: 1280px;
  padding: 10px;
  margin: 0 auto;
  text-align: right; }

.brandHeading img {
  width: 200px; }

.mlc .brandHeading {
  background: #0BB169; }

.ed .brandHeading {
  background: #0091d2; }

.fb .brandHeading {
  background: #D33039; }

.pxt .brandHeading {
  background: #00AFB2; }

.pageHeading {
  background: #E9EEEE; }

.pageHeading-content {
  max-width: 1260px;
  padding: 5px 10px;
  margin: 0 auto; }

.sideNav a {
  display: block;
  padding: 6px;
  border: 2px solid #FFFFFF;
  position: relative;
  color: #26545D;
  font-size: 16px;
  transition: .2s linear; }

.sideNav a.active {
  background: #E9EEEE; }

.sideNav a.active,
.sideNav a:hover,
.sideNav a:focus {
  border: 2px solid #E9EEEE; }

.sideNav a i {
  float: right;
  color: #0BB169; }

.ed .sideNav a i {
  color: #0091d2; }

.fb .sideNav a i {
  color: #D33039; }

.pxt .sideNav a i {
  color: #00AFB2; }

.subNav {
  display: block;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  background: #0BB169; }

.subNav_fixed {
  width: 100%;
  position: fixed;
  right: 0;
  z-index: 99; }

.subNav-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px 5px; }

.subNav-trigger {
  display: table;
  width: 100%;
  padding: 10px 0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400; }

.subNav-trigger > * {
  display: table-cell; }

.subNav-trigger-icon {
  text-align: right; }

.subNav-trigger i {
  transition: transform .2s linear; }

.subNav-trigger.active i {
  transform: rotateX(180deg); }

.subNav-list {
  display: none;
  border-top: 1px solid #FFFFFF; }

.subNav-list > li {
  display: block; }

.subNav-list > li > a {
  display: inline-block;
  padding: 7px 10px;
  margin-right: 40px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400; }

.subNav-list > li > a:hover,
.subNav-list > li > a:focus {
  color: #E9EEEE; }

.subNav-list > li > a.active {
  color: #26545D;
  font-weight: 700; }

.ed .subNav {
  background: #0091d2; }

.fb .subNav {
  background: #D33039; }

.pxt .subNav {
  background: #00AFB2; }

.announcement {
  display: block;
  width: 100%;
  margin-bottom: 0; }
  .announcement:before, .announcement:after {
    content: " ";
    display: table; }
  .announcement:after {
    clear: both; }

.announcement-date {
  float: left;
  margin: 0 20px 10px 0; }

.announcement-date {
  display: block;
  width: 70px;
  height: 70px;
  padding: 10px;
  border: 2px solid #0BB169;
  border-radius: 5px;
  background: #FFFFFF;
  color: #0BB169;
  text-align: center;
  transition: .2s linear; }

.announcement-date-month {
  text-transform: uppercase; }

.announcement-date-day {
  font-size: 24px;
  font-weight: 700; }

.announcement-hd {
  margin: -2px 0 10px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  transition: .2s linear; }

.announcement-bd {
  display: block;
  color: #26545D;
  font-weight: 400; }

.announcement_clear {
  margin-bottom: 10px; }
  .announcement_clear .announcement-date {
    margin-bottom: 20px; }
  .announcement_clear .announcement-hd {
    margin: -2px 0 20px 0;
    color: #0BB169; }
  .announcement_clear .announcement-bd {
    clear: both; }

.announcement_clear:hover .announcement-date,
.announcement_clear:focus .announcement-date {
  border: 2px solid #149B87;
  color: #149B87; }

.announcement_clear:hover .announcement-hd,
.announcement_clear:hover .announcement-hd,
.announcement_clear:focus .announcement-hd,
.announcement_clear:focus .announcement-hd {
  color: #149B87; }

.announcement_ed .announcement-date {
  background: #0091d2; }

.announcement_ed .announcement-hd {
  color: #0091d2; }

.announcement_pxt .announcement-date {
  background: #00AFB2; }

.announcement_pxt .announcement-hd {
  color: #00AFB2; }

.announcement_fb .announcement-date {
  background: #D33039; }

.announcement_fb .announcement-hd {
  color: #D33039; }

/*----------------------------------------------------------------------
 Bar Styles
----------------------------------------------------------------------*/
.bar {
  padding: 20px 0;
  background: #26545D;
  color: #FFFFFF;
  text-align: center; }

.bar > * {
  display: inline-block;
  padding: 0 10px; }

.bar-text {
  margin-bottom: 10px;
  font-size: 16px; }

/*----------------------------------------------------------------------
 Blocks
----------------------------------------------------------------------*/
.blocks {
  margin-left: 0px; }

.blocks > li {
  display: block;
  margin: 0 0 20px 0; }

.blocks.blocks_marginBtm10 > li {
  margin-bottom: 10px; }

.blocks.blocks_marginBtm10 > li:last-child,
.blocks.blocks_noMarginBtm > li {
  margin-bottom: 0; }

.box {
  padding: 10px;
  border: 1px solid #95a9ad; }

.box_maxHeight300 {
  max-height: 300px;
  overflow-y: scroll; }

.box_grayLight {
  background: #E9EEEE; }

/*----------------------------------------------------------------------
 Button - Yay, buttons!
----------------------------------------------------------------------*/
.btn,
a.btn,
button.btn {
  display: inline-block;
  min-width: 120px;
  margin-right: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  background: #26545D;
  font-family: "Lato", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  transition: color .3s, background .3s; }

.btn:hover,
.btn:focus,
a.btn:hover,
a.btn:focus,
button.btn:hover,
button.btn:focus {
  cursor: pointer;
  text-decoration: none;
  background: #95a9ad;
  color: #FFFFFF; }

.mlc .btn,
.mlc a.btn,
.mlc button.btn {
  background: #149B87; }

.mlc .btn:hover,
.mlc .btn:focus,
.mlc a.btn:hover,
.mlc a.btn:focus,
.mlc button.btn:hover,
.mlc button.btn:focus {
  background: #0BB169; }

.ed .btn,
.ed a.btn,
.ed button.btn {
  background: #00597F;
  color: #FFFFFF; }

.ed .btn:hover,
.ed a.btn:hover,
.ed button.btn:hover,
.ed .btn:focus,
.ed a.btn:focus,
.ed button.btn:focus {
  background: #0091d2; }

.pxt .btn,
.pxt a.btn,
.pxt button.btn {
  background: #196C7D; }

.pxt .btn:hover,
.pxt a.btn:hover,
.pxt button.btn:hover,
.pxt .btn:focus,
.pxt a.btn:focus,
.pxt button.btn:focus {
  background: #00AFB2;
  color: #FFFFFF; }

.btn.btn_secondary,
a.btn.btn_secondary,
button.btn.btn_secondary {
  padding: 7px 14px;
  color: #26545D;
  background: #FFFFFF;
  border: 1px solid #26545D; }

.btn.btn_secondary:hover,
.btn.btn_secondary:focus,
a.btn.btn_secondary:hover,
a.btn.btn_secondary:focus,
button.btn.btn_secondary:hover,
button.btn.btn_secondary:focus {
  border: 1px solid #26545D;
  background: #E9EEEE; }

.btn:disabled,
[disabled="disabled"],
.btn.inActive,
a.btn:disabled,
a.btn.inActive,
button.btn:disabled,
button.btn.inActive {
  color: #FFFFFF;
  background: #E9EEEE;
  cursor: not-allowed;
  transform: none; }

.mlc .btn:disabled,
.mlc [disabled="disabled"],
.mlc .btn.inActive,
.mlc a.btn:disabled,
.mlc a.btn.inActive,
.mlc button.btn:disabled,
.mlc button.btn.inActive,
.ed .btn:disabled,
.ed [disabled="disabled"],
.ed .btn.inActive,
.ed a.btn:disabled,
.ed a.btn.inActive,
.ed button.btn:disabled,
.ed button.btn.inActive,
.fb .btn:disabled,
.fb [disabled="disabled"],
.fb .btn.inActive,
.fb a.btn:disabled,
.fb a.btn.inActive,
.fb button.btn:disabled,
.fb button.btn.inActive,
.pxt .btn:disabled,
.pxt [disabled="disabled"],
.pxt .btn.inActive,
.pxt a.btn:disabled,
.pxt a.btn.inActive,
.pxt button.btn:disabled,
.pxt button.btn.inActive {
  color: #FFFFFF;
  background: #E9EEEE;
  cursor: not-allowed;
  transform: none; }

.btn.btn_noMarginRight {
  margin-right: 0; }

.card {
  display: block; }

.card-hd {
  display: table;
  width: 100%;
  min-height: 92px;
  padding: 20px 10px;
  background: #0BB169;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
  white-space: pre-wrap;
  transition: .2s linear; }

li:nth-child(2n+1) .card-hd {
  background: #149B87; }

.card_link .card-hd:hover {
  background: #26545D;
  cursor: pointer; }

.card-hd > * {
  display: table-cell;
  vertical-align: middle; }

.card-bd {
  padding: 20px 10px;
  border: 1px solid #95a9ad;
  border-top: none;
  font-size: 14px; }

.card.updated .card-bd {
  border: 1px solid #0BB169;
  box-shadow: inset 0 0 0 3px #0BB169; }
  .card.updated .card-bd .card-date {
    color: #0BB169; }

.card-date {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700; }

.ed .card-hd {
  background: #0091d2; }

.ed li:nth-child(2n+1) .card-hd {
  background: #00597F; }

.ed .card_link .card-hd:hover {
  background: #26545D; }

.ed .card.updated .card-bd {
  border: 1px solid #0091d2;
  box-shadow: inset 0 0 0 3px #0091d2; }
  .ed .card.updated .card-bd .card-date {
    color: #0091d2; }

.fb .card-hd {
  background: #D33039; }

.fb li:nth-child(2n+1) .card-hd {
  background: #b02c32; }

.fb .card_link .card-hd:hover {
  background: #26545D; }

.fb .card.updated .card-bd {
  border: 1px solid #D33039;
  box-shadow: inset 0 0 0 3px #D33039; }
  .fb .card.updated .card-bd .card-date {
    color: #D33039; }

.pxt .card-hd {
  background: #00AFB2; }

.pxt li:nth-child(2n+1) .card-hd {
  background: #196C7D; }

.pxt .card_link .card-hd:hover {
  background: #26545D; }

.pxt .card.updated .card-bd {
  border: 1px solid #00AFB2;
  box-shadow: inset 0 0 0 3px #00AFB2; }
  .pxt .card.updated .card-bd .card-date {
    color: #00AFB2; }

.circle {
  display: inline-block;
  width: 26px;
  height: 26px;
  padding-top: 5px;
  border-radius: 50%;
  background: #26545D;
  position: relative;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  text-align: center; }

.circle_count {
  width: 18px;
  height: 18px;
  padding-top: 2px;
  background: #aa3062;
  font-size: 12px; }

.circle_brandLight {
  background: #8bf5c7; }

.circle_brand {
  background: #0BB169; }

.circle_brandDark {
  background: #149B87; }

.circle_brandSecondary {
  background: #aa3062; }

.circle_brandSecondaryDark {
  background: #5e243c; }

.circle_ed {
  background: #0091d2; }

.circle_fb {
  background: #D33039; }

.circle_pxt {
  background: #00AFB2; }

.circle_yellow {
  background: #fdd601; }

.drawer {
  display: block;
  border-top: 1px solid #95a9ad;
  border-bottom: 1px solid #95a9ad; }

.drawer ~ .drawer {
  border-top: none; }

.drawer-trigger {
  padding: 10px;
  position: relative;
  background: #FFFFFF;
  font-weight: 700; }

.drawer-trigger a {
  display: block;
  color: #26545D; }
  .drawer-trigger a:before, .drawer-trigger a:after {
    content: " ";
    display: table; }
  .drawer-trigger a:after {
    clear: both; }

.drawer-trigger a * {
  vertical-align: middle; }

.drawer-trigger i.fa-chevron-right {
  transition: transform .2s linear; }

.drawer-trigger i.fa-chevron-right.active {
  transform: rotate(90deg); }

.drawer-content {
  display: none;
  padding: 10px;
  border-top: 1px solid #E9EEEE;
  background: #FFFFFF; }

.event {
  display: table;
  width: 100%;
  margin-bottom: 10px; }

.event > * {
  display: table-cell;
  vertical-align: top; }

.event-date {
  display: block;
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
  background: #0BB169;
  color: #FFFFFF;
  text-align: center;
  transition: .2s linear; }

.event-date-month {
  text-transform: uppercase; }

.event-date-day {
  font-size: 24px;
  font-weight: 700; }

.event-text {
  width: 95%;
  padding: 0 10px;
  color: #26545D;
  font-weight: 400; }

.event-hd {
  color: #0BB169;
  font-weight: 700;
  transition: .2s linear; }

.event:hover .event-date,
.event:focus .event-date {
  background: #149B87; }

.event:hover .event-hd,
.event:focus .event-hd {
  color: #149B87; }

.event_ed .event-date {
  background: #0091d2; }

.event_ed .event-hd {
  color: #0091d2; }

.event_ed:hover .event-date,
.event_ed:focus .event-date {
  background: #00597F; }

.event_ed:hover .event-hd,
.event_ed:focus .event-hd {
  color: #00597F; }

.event_pxt .event-date {
  background: #00AFB2; }

.event_pxt .event-hd {
  color: #00AFB2; }

.event_pxt:hover .event-date,
.event_pxt:focus .event-date {
  background: #196C7D; }

.event_pxt:hover .event-hd,
.event_pxt:focus .event-hd {
  color: #196C7D; }

.event_fb .event-date {
  background: #D33039; }

.event_fb .event-hd {
  color: #D33039; }

.event_fb:hover .event-date,
.event_fb:focus .event-date {
  background: #b02c32; }

.event_fb:hover .event-hd,
.event_fb:focus .event-hd {
  color: #b02c32; }

/*----------------------------------------------------------------------
 iFrame
----------------------------------------------------------------------*/
.iframe {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 1px;
  height: 0; }

.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

form label,
.form label,
label {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 600; }

.form-input {
  width: 100%; }

input[type="text"],
input[type="email"],
input[type="number"],
.form-input,
select {
  display: inline-block;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #a8adb3;
  background: #ffffff;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300; }

select,
select.form-input {
  padding: 6px 7px 7px; }

.form-input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  border: 1px solid #0BB169;
  box-shadow: inset 0 0 0 1px #0BB169; }

.form-input.form-input_required {
  background: #ebf6ec; }

textarea,
.form-input_area {
  min-height: 120px; }

.form-input.form-input_noMarginBtm {
  margin-bottom: 0; }

.form-input.form-input_error {
  border: 1px solid #bd2553;
  box-shadow: inset 0 0 0 1px #bd2553; }

.form-error,
.EditingFormErrorLabel {
  display: block;
  margin: -10px 0 10px 0;
  color: #bd2553;
  font-size: 14px; }

.ErrorLabel {
  display: block;
  margin-bottom: 10px;
  color: #bd2553; }

.ErrorLabel:before,
.EditingFormErrorLabel:before {
  display: inline-block;
  content: "\f071";
  font-family: FontAwesome;
  padding-right: 5px; }

.form-input-status {
  position: absolute;
  top: 7px;
  right: 10px; }

.checkbox td {
  vertical-align: top; }

.checkbox td:first-child {
  padding-right: 5px; }

.checkbox input[type="checkbox"] {
  margin: 0 5px 0 0;
  padding: 0; }

.checkboxForm {
  display: table; }

.checkboxForm > * {
  display: table-cell; }

/* Calendar form styles */
button[title="Calendar"] {
  min-width: 20px;
  margin-left: 10px;
  border-radius: none; }

.date-time-picker {
  display: inline; }

.date-time-picker .btn i.icon-calendar {
  margin: 0; }

.icon-calendar:before {
  font-family: FontAwesome;
  content: "\f073"; }

.labelRequest {
  background: #ccc;
  font-size: 18px;
  font-weight: 800;
  padding: 4px 20px 4px 6px; }

/* End Calendar form styles */
/*----------------------------------------------------------------------
 Grid
----------------------------------------------------------------------*/
.grid-col {
  margin-bottom: 20px; }

/* For styleguide */
.grid_example > .grid-col {
  padding: 5px;
  color: #E9EEEE;
  background: #26545D; }

/*----------------------------------------------------------------------
 Headings
----------------------------------------------------------------------*/
.hdg {
  color: #26545D;
  font-family: "Lato", Georgia, serif;
  font-weight: 700;
  line-height: 1.2; }

.hdg_1 {
  font-size: 32px; }

.hdg_2 {
  font-size: 22px; }

.hdg_3 {
  font-size: 16px; }

.hdg_white {
  color: #FFFFFF; }

.hdg_gray {
  color: #95a9ad; }

.hdg_upper {
  text-transform: uppercase; }

.hdg_cap {
  text-transform: capitalize; }

.hdg_inlineBlock {
  display: inline-block;
  vertical-align: middle; }

.hList {
  margin: 0 0 20px -10px;
  position: relative; }

.hList > li {
  display: inline-block;
  padding: 0 10px 5px; }

.hList_pipe {
  overflow: hidden; }

.hList_pipe > li {
  position: relative; }

.hList_pipe > li:before {
  display: table;
  content: "|";
  position: absolute;
  top: 0;
  left: -5px; }

.hList_pipe > li:first-child:before {
  display: none; }

.hList_clean {
  margin-bottom: 0; }

.hList_clean > li {
  padding-bottom: 0; }

/*----------------------------------------------------------------------
 Images
----------------------------------------------------------------------*/
.imgResponsive {
  width: 100%; }

.imgFlex {
  max-width: 100%; }

.imgCentered {
  display: block;
  margin: 0 auto 20px; }

.img200 {
  max-width: 200px; }

.img240 {
  max-width: 240px; }

.img120 {
  max-width: 120px; }

/*----------------------------------------------------------------------
 Links
----------------------------------------------------------------------*/
a.link {
  color: #0BB169;
  font-weight: 600;
  text-decoration: none; }

a.link:hover,
a.link:focus {
  color: #0BB169; }

a.link_underline {
  text-decoration: underline; }

a.link_underline:hover,
a.link_underline:focus {
  text-decoration: none; }

a.link_white {
  color: #FFFFFF; }

a.link_white:hover,
a.link_white:focus {
  color: #FFFFFF;
  text-decoration: underline; }

.list {
  padding-bottom: 20px; }

.list_bullet {
  margin-left: 16px;
  list-style-type: disc; }

.list_number {
  margin-left: 15px;
  list-style-type: decimal; }

.list_reset {
  margin-left: 0;
  list-style-type: none; }

.list_line > li {
  padding: 20px 0;
  border-bottom: 1px solid #E9EEEE; }

.list_line > li:first-child {
  padding-top: 0; }

.list > li {
  margin-bottom: 5px; }

.list > li > ul {
  margin-bottom: 0; }

.list_noPadBtm {
  padding-bottom: 0; }

.list_noMarginBtm {
  padding-bottom: 0; }

.masonry,
.masonry-col {
  display: block; }

.masonry-col {
  padding: 20px 10px; }

.masonry-col_noPad {
  padding: 0; }

.masonry-col_gray {
  background: #95a9ad; }

.masonry-col_grayLight {
  background: #E9EEEE; }

.masonry-col_grayDark {
  background: #26545D; }

.masonry-col_mlc {
  background: #DBF6FB; }

.ed .masonry-col_sm {
  background: #6BA2BB; }

.fb .masonry-col_sm {
  background: #F04545; }

.pxt .masonry-col_sm {
  background: #96D2A2; }

.masonry-col_grayDark,
.ed .masonry-col_sm,
.fb .masonry-col_sm {
  color: #FFFFFF; }

.masonry-col_bgImg {
  padding: 25% 10px;
  background-image: url(../../media/images/mlc-btm-feature.jpg);
  /* ~/App_Themes/MLC_Modern/imgs/mlc-btm-feature.jpg */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.mlc .masonry-col_bgImg {
  padding: 20px 10px; }

.ed .masonry-col_bgImg {
  background-image: url(../../media/images/hero-ed.png); }

/* ~/App_Themes/MLC_Modern/imgs/hero-ed.png */
.fb .masonry-col_bgImg {
  background-image: url(../../media/images/hero-fb.png); }

/* ~/App_Themes/MLC_Modern/imgs/hero-fb.png */
.pxt .masonry-col_bgImg {
  background-image: url(../../media/images/hero-pxt.png); }

/* ~/App_Themes/MLC_Modern/imgs/hero-pxt.png */
.masonry-col-max400 {
  max-width: 400px; }

.mediaFeature {
  max-width: 748px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E9EEEE; }
  .mediaFeature:before, .mediaFeature:after {
    content: " ";
    display: table; }
  .mediaFeature:after {
    clear: both; }

.mediaFeature:last-child {
  margin-bottom: 0;
  border-bottom: none; }

.mediaFeature-media {
  margin-bottom: 10px; }

.mediaFeature-media .vidyard_player > * {
  overflow: hidden;
  position: relative;
  width: 100% !important;
  height: 100% !important;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.mediaFeature-media .vidyard_player > * iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

.mediaFeature-url {
  padding: 5px;
  margin-bottom: 20px;
  background: #E9EEEE;
  overflow: hidden; }

.meter {
  width: 100%;
  margin: -10px 0 20px; }
  .meter:before, .meter:after {
    content: " ";
    display: table; }
  .meter:after {
    clear: both; }

.meter > * {
  float: left;
  vertical-align: middle; }

.meter-bar {
  width: 85%;
  height: 5px;
  background: #95a9ad; }

.meter-bar-level {
  height: 5px; }

.meter-text {
  width: 15%;
  margin-top: -4px;
  font-size: 12px;
  text-align: right; }

.meter-bar-level.weak {
  width: 33.33%;
  background: #bd2553; }

.meter-bar-level.medium {
  width: 66.66%;
  background: #fdd601; }

.meter-bar-level.strong {
  width: 100%;
  background: #00d1a1; }

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002; }

.modal-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9); }

.modal-content {
  width: 688px;
  margin: 100px auto 0;
  border: 1px solid #95a9ad;
  position: relative;
  background: #E9EEEE; }

.modal-hd {
  padding: 10px;
  border-bottom: 1px solid #26545D;
  background: #26545D;
  color: #FFFFFF;
  font-size: 21px; }

.modal-bd {
  max-height: 600px;
  padding: 20px;
  overflow: auto; }

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FFFFFF;
  font-size: 21px;
  line-height: 0;
  cursor: pointer; }

.modal-close:hover,
.modal-close:focus {
  color: #E9EEEE; }

.paginate {
  display: inline-block;
  padding: 5px 0 2px;
  font-size: 14px; }
  .paginate:before, .paginate:after {
    content: " ";
    display: table; }
  .paginate:after {
    clear: both; }

.paginate > li {
  margin-right: 10px;
  float: left; }

.paginate > li:last-child {
  margin-right: 0; }

.paginate > li > a {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 4px 0;
  border-radius: 50%;
  color: #0BB169;
  text-align: center; }

.paginate > li:first-child > a,
.paginate > li:last-child > a {
  color: #0BB169; }

.paginate > li > a.active {
  background: #26545D;
  color: #FFFFFF;
  cursor: default; }

.search {
  display: inline-block;
  position: relative; }

input[type="search"],
input[type="text"].search-input,
.search-input {
  width: 200px;
  padding: 4px 20px 4px 6px;
  margin: 0;
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
  background: #FFFFFF;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  vertical-align: top; }

input[type="search"]:focus,
input[type="text"].search-input:focus,
.search-input:focus {
  border: none; }

.search-btn {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 5px;
  color: #26545D;
  font-size: 14px;
  line-height: 1;
  cursor: pointer; }

.search-submit {
  width: 26px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  text-indent: -9999px;
  cursor: pointer; }

.search-input_fixedWidth {
  width: 300px; }

.searchResult hr {
  margin: 20px 0; }

.sector {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-top: 2px solid #6d8b91; }

.sector:last-child {
  padding-bottom: 40px; }

.sector-hd {
  border-bottom: 1px solid #bfd9df;
  margin-bottom: 20px;
  padding-bottom: 5px; }

.uil-spin-css {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  background: none;
  transform: scale(0.5); }

.uil-spin-css.isActive {
  display: block; }

.uil-spin-css > img {
  display: none; }

@keyframes uil-spin-css {
  0% {
    opacity: 1;
    transform: scale(1.5); }
  100% {
    opacity: 0.1;
    transform: scale(1); } }

.uil-spin-css > div {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  position: absolute; }

.uil-spin-css > div > div {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #196d7e; }

.uil-spin-css > div:nth-of-type(1) > div {
  animation: uil-spin-css 1s linear infinite;
  animation-delay: 0s; }

.uil-spin-css > div:nth-of-type(1) {
  transform: translate(84px, 84px) rotate(45deg) translate(70px, 0); }

.uil-spin-css > div:nth-of-type(2) > div {
  animation: uil-spin-css 1s linear infinite;
  animation-delay: 0.12s; }

.uil-spin-css > div:nth-of-type(2) {
  transform: translate(84px, 84px) rotate(90deg) translate(70px, 0); }

.uil-spin-css > div:nth-of-type(3) > div {
  animation: uil-spin-css 1s linear infinite;
  animation-delay: 0.25s; }

.uil-spin-css > div:nth-of-type(3) {
  transform: translate(84px, 84px) rotate(135deg) translate(70px, 0); }

.uil-spin-css > div:nth-of-type(4) > div {
  animation: uil-spin-css 1s linear infinite;
  animation-delay: 0.37s; }

.uil-spin-css > div:nth-of-type(4) {
  transform: translate(84px, 84px) rotate(180deg) translate(70px, 0); }

.uil-spin-css > div:nth-of-type(5) > div {
  animation: uil-spin-css 1s linear infinite;
  animation-delay: 0.5s; }

.uil-spin-css > div:nth-of-type(5) {
  transform: translate(84px, 84px) rotate(225deg) translate(70px, 0); }

.uil-spin-css > div:nth-of-type(6) > div {
  animation: uil-spin-css 1s linear infinite;
  animation-delay: 0.62s; }

.uil-spin-css > div:nth-of-type(6) {
  transform: translate(84px, 84px) rotate(270deg) translate(70px, 0); }

.uil-spin-css > div:nth-of-type(7) > div {
  animation: uil-spin-css 1s linear infinite;
  animation-delay: 0.75s; }

.uil-spin-css > div:nth-of-type(7) {
  transform: translate(84px, 84px) rotate(315deg) translate(70px, 0); }

.uil-spin-css > div:nth-of-type(8) > div {
  animation: uil-spin-css 1s linear infinite;
  animation-delay: 0.87s; }

.uil-spin-css > div:nth-of-type(8) {
  transform: translate(84px, 84px) rotate(360deg) translate(70px, 0); }

.table {
  width: 100%;
  margin: 0 auto; }
  .table thead {
    color: #26545D;
    font-size: 18px;
    text-align: left; }
    .table thead th {
      padding: 5px 0;
      font-weight: 700; }
  .table td {
    padding: 5px 5px;
    border-bottom: 1px solid #E9EEEE;
    vertical-align: middle; }
  .table td.alignTop {
    vertical-align: top; }

.table_alt tr:nth-child(2n) {
  background: #E9EEEE; }

/*----------------------------------------------------------------------
 Tab Styles
----------------------------------------------------------------------*/
.tab {
  position: relative;
  margin-bottom: 20px; }

.tab_hide .tab-trigger {
  display: none; }

.tab_hide .tab-content {
  padding: 0;
  border-bottom: none; }

.tab-trigger {
  width: 100%;
  border-bottom: 1px solid #95a9ad; }
  .tab-trigger:before, .tab-trigger:after {
    content: " ";
    display: table; }
  .tab-trigger:after {
    clear: both; }
  .tab-trigger li {
    margin-right: 10px;
    float: left; }
  .tab-trigger a {
    display: block;
    margin-bottom: -1px;
    padding: 10px 20px;
    border: 1px solid #95a9ad;
    border-bottom: 1px solid #95a9ad;
    background: #E9EEEE;
    position: relative;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease-in-out; }
  .tab-trigger .active a {
    background: #FFFFFF;
    color: #149B87;
    cursor: default; }
  .tab-trigger .active a:after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background: #FFFFFF;
    z-index: 2;
    position: absolute;
    bottom: -1px;
    left: 0; }

.tab-content {
  padding: 20px 0;
  border: 1px solid #95a9ad;
  border-top: none; }

.tab-content-item {
  display: none; }

.tab-content-item:first-child {
  display: block; }

.tip-content {
  display: none;
  width: 220px;
  padding: 10px;
  margin: 10px 0 20px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -110px;
  border-radius: 4px;
  background: rgba(82, 113, 119, 0.95);
  /*$gray_dark*/
  z-index: 10;
  font-size: 12px;
  font-weight: 400;
  text-align: center; }

.tip-spike {
  position: absolute;
  left: 100px;
  bottom: -7px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 7px solid rgba(82, 113, 119, 0.95); }

/*----------------------------------------------------------------------
 Topside
----------------------------------------------------------------------*/
.topside {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background: #26545D;
  opacity: .8;
  cursor: pointer; }

.topside i {
  margin: -12px 0 0 -10px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFFFFF;
  font-size: 20px; }

/*----------------------------------------------------------------------
 Text
----------------------------------------------------------------------*/
.txt {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  color: #26545D;
  line-height: 1.3; }

.txt_sm {
  font-size: 12px; }

.txt_semiMed {
  font-size: 15px; }

.txt_med {
  font-size: 18px; }

.txt_lg {
  font-size: 24px; }

.txt_semiBold {
  font-weight: 600; }

.txt_bold {
  font-weight: 700; }

.txt_italic {
  font-style: italic; }

.txt_upper {
  text-transform: uppercase; }

.txt_inlineBlock {
  display: inline-block; }

.txt_block {
  display: block; }

.txt_pushBtm {
  margin-bottom: 20px; }

.txt_pushBtmSm {
  margin-bottom: 10px; }

.txt_pushTop {
  margin-top: 20px; }

.txt_pushTopSm {
  margin-top: 10px; }

.txt_pullTopSm {
  margin-top: -10px; }

.txt_gray {
  color: #95a9ad; }

.txt_grayDark {
  color: #26545D; }

.txt_error {
  color: #bd2553; }

.txt_success {
  color: #149B87; }

.txt_error {
  color: #bd2553; }

.txt_yellow {
  color: #fdd601; }

.txt_green {
  color: #00d1a1; }

.txt_highlight {
  padding: 0 5px;
  background: #aa3062;
  color: #FFFFFF; }

/*----------------------------------------------------------------------
 Wraps
----------------------------------------------------------------------*/
.wrap {
  position: relative; }

.wrap_content {
  max-width: 1280px;
  margin: 0 auto;
  background: #ffffff; }

.wrap_section {
  padding: 20px 10px; }

.wrap_sm {
  max-width: 600px;
  margin: 0 auto; }

.wrap_pad {
  padding: 10px; }

.wrap_border {
  border: 1px solid #95a9ad; }

.wrap_alignCenter {
  text-align: center; }

.wrap_alignRight {
  text-align: right; }

.wrap_white {
  background: #FFFFFF; }

.wrap_gray {
  background: #95a9ad; }

.wrap_grayLight {
  background: #E9EEEE; }

/*----------------------------------------------------------------------
 WYSIWYG
----------------------------------------------------------------------*/
.wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 {
  margin-bottom: 10px;
  font-weight: bold; }

.wysiwyg h1 {
  font-size: 32px; }

.wysiwyg h2 {
  font-size: 22px; }

.wysiwyg h3 {
  font-size: 16px; }

.wysiwyg h4, .wysiwyg h5, .wysiwyg h6 {
  font-size: 14px; }

.wysiwyg p {
  margin-bottom: 20px; }

.wysiwyg b,
.wysiwyg strong {
  font-weight: bold; }

.wysiwyg i, .wysiwyg em {
  font-style: italic; }

.wysiwyg u {
  text-decoration: underline; }

.wysiwyg ul, .wysiwyg ul li {
  list-style-type: disc; }

.wysiwyg ol, .wysiwyg ol li {
  list-style-type: decimal; }

.wysiwyg ul, .wysiwyg ol {
  margin: 0 0 20px 20px; }

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .header {
    padding: 10px 10px; }
  .header-content {
    display: table; }
  .header-content > *,
  .header-action > * {
    display: table-cell;
    vertical-align: middle; }
  .header-logo {
    height: 38px;
    margin: 0;
    padding: 0 20px 0 0; }
  .header-logo a {
    display: inline-block; }
  .header-logo img {
    width: 300px; }
  .header-trigger {
    display: none; }
  .header-action {
    display: table !important;
    /* important needed for responsive show/hide functionality */
    width: 100%;
    padding: 0;
    position: relative;
    top: inherit; }
  .header-nav {
    border: none;
    margin-bottom: 0;
    display: table-cell;
    width: 400px; }
  .header-nav > li {
    display: table-cell;
    padding-right: 20px;
    white-space: nowrap; }
  .header-nav > li > * {
    display: inline-block; }
  .header-dropdown .header-dropdown-trigger {
    display: inline-block; }
  .header-dropdown .header-dropdown-content {
    padding-top: 0;
    position: absolute;
    top: 48px;
    left: -10px;
    background: #26545D; }
  .header-dropdown .header-dropdown-content a {
    display: inline-block; }
  .header-dropdown .header-dropdown-content li:first-child a {
    padding-top: 0; }
  .header-search {
    display: table-cell;
    width: initial;
    text-align: right;
    margin-bottom: 0; }
  .header-logout {
    width: 50px;
    text-align: right;
    white-space: nowrap; }
  .header-logout a {
    margin-top: -4px;
    padding-top: 0;
    padding-left: 10px; } }

@media screen and (min-width: 768px) {
  .footer {
    background: #26545D; }
  .footer-content {
    display: table;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    color: #FFFFFF; }
  .footer-content > * {
    display: table-cell;
    vertical-align: middle; }
  .footer-legal {
    padding-bottom: 0;
    text-align: left; }
  .footer-legal small {
    font-size: 12px; }
  .footer-logo {
    text-align: right; }
  .brandHeading-content {
    padding: 10px; }
  .pageHeading-content {
    padding: 20px 10px; }
  /*----------------------------------------------------------------------
 Sticky Footer
----------------------------------------------------------------------*/
  .stickyFooter {
    margin-bottom: -44px; }
  .stickyFooter:after {
    height: 44px; }
  .sideNav a {
    padding: 16px 6px;
    font-size: 18px; }
  .subNav-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px; }
  .subNav-trigger {
    display: none; }
  .subNav-list {
    display: block !important;
    border: none; }
  .subNav-list > li {
    display: inline-block; }
  .subNav-list > li > a {
    display: inline-block;
    padding: 15px 0;
    margin-right: 40px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400; }
  .announcement {
    display: block;
    width: 100%;
    margin-bottom: 0; }
    .announcement:before, .announcement:after {
      content: " ";
      display: table; }
    .announcement:after {
      clear: both; }
  .announcement-date {
    float: left;
    margin: 0 20px 10px 0; }
  .announcement-date {
    display: block;
    width: 70px;
    height: 70px;
    padding: 10px;
    border: 2px solid #0BB169;
    border-radius: 5px;
    background: #FFFFFF;
    color: #0BB169;
    text-align: center;
    transition: .2s linear; }
  .announcement-date-month {
    text-transform: uppercase; }
  .announcement-date-day {
    font-size: 24px;
    font-weight: 700; }
  .announcement-hd {
    margin: -2px 0 10px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    transition: .2s linear; }
  .announcement-bd {
    display: block;
    color: #26545D;
    font-weight: 400; }
  .announcement_clear {
    margin-bottom: 10px; }
    .announcement_clear .announcement-date {
      margin-bottom: 20px; }
    .announcement_clear .announcement-hd {
      margin: -2px 0 20px 0;
      color: #0BB169; }
    .announcement_clear .announcement-bd {
      clear: both; }
  .announcement_clear:hover .announcement-date,
  .announcement_clear:focus .announcement-date {
    border: 2px solid #149B87;
    color: #149B87; }
  .announcement_clear:hover .announcement-hd,
  .announcement_clear:hover .announcement-hd,
  .announcement_clear:focus .announcement-hd,
  .announcement_clear:focus .announcement-hd {
    color: #149B87; }
  .announcement_ed .announcement-date {
    background: #0091d2; }
  .announcement_ed .announcement-hd {
    color: #0091d2; }
  .announcement_pxt .announcement-date {
    background: #00AFB2; }
  .announcement_pxt .announcement-hd {
    color: #00AFB2; }
  .announcement_fb .announcement-date {
    background: #D33039; }
  .announcement_fb .announcement-hd {
    color: #D33039; }
  /*----------------------------------------------------------------------
 Bar Styles, Med
----------------------------------------------------------------------*/
  .bar {
    padding: 20px 10px; }
  .bar > * {
    padding: 0 10px; }
  .bar-text {
    font-size: 18px; }
  /*----------------------------------------------------------------------
 Blocks, Med
----------------------------------------------------------------------*/
  /* Set max width here */
  /* Set gutter width here */
  .blocks {
    margin-left: -1.5625%;
    font-size: 0; }
  .blocks > li {
    display: inline-block;
    margin: 0 0 1.5625% 1.5625%;
    font-size: 16px;
    vertical-align: top; }
  .blocks_8col > li {
    width: 10.9375%; }
  .blocks_7col > li {
    width: 12.72321%; }
  .blocks_6col > li {
    width: 15.10417%; }
  .blocks_5col > li {
    width: 18.4375%; }
  .blocks_4col > li {
    width: 23.4375%; }
  .blocks_3col > li {
    width: 31.77083%; }
  .blocks_2col > li {
    width: 48.4375%; }
  .blocks_vLine > li {
    padding-left: 1.5625%;
    border-left: 1px solid #95a9ad; }
  .blocks_vLine > li:first-child {
    padding-left: 0;
    border-left: none; }
  .blocks_vLine.blocks_2col > li {
    width: 49.21875%; }
  .blocks_vLine.blocks_2col > li:first-child {
    width: 47.65625%; }
  .blocks_vLine.blocks_3col > li {
    width: 32.55208%; }
  .blocks_vLine.blocks_3col > li:first-child {
    width: 30.20833%; }
  .blocks_vLine.blocks_4col > li {
    width: 23.95833%; }
  .blocks_vLine.blocks_4col > li:first-child {
    width: 21.875%; }
  /*----------------------------------------------------------------------
 Grid, Med
----------------------------------------------------------------------*/
  .grid:before, .grid:after {
    content: " ";
    display: table; }
  .grid:after {
    clear: both; }
  .grid-col {
    margin-bottom: 20px;
    float: left; }
  .grid-col ~ .grid-col {
    margin-left: 1.95%; }
  /* 4 column grid */
  .grid-col_1of4 {
    width: 23.53%; }
  .grid-col_2of4 {
    width: 49.02%; }
  .grid-col_3of4 {
    width: 74.51%; }
  .grid-col_4of4 {
    width: 100%; }
  /* 3 column grid */
  .grid-col_1of3 {
    width: 32.03%; }
  .grid-col_2of3 {
    width: 66.02%; }
  .grid-col_3of3 {
    width: 100%; }
  /* For styleguide */
  .grid_example > .grid-col {
    padding: 5px;
    color: #E9EEEE;
    background: #26545D; }
  /*----------------------------------------------------------------------
 Headings, Med
----------------------------------------------------------------------*/
  .hdg_1 {
    font-size: 40px; }
  .hdg_2 {
    font-size: 26px; }
  .hdg_3 {
    font-size: 20px; }
  .masonry {
    display: table;
    width: 100%; }
  .masonry-col {
    display: table-cell;
    padding: 40px 20px;
    vertical-align: top; }
  .masonry-col_noPad {
    padding: 0;
    line-height: 0; }
  .masonry-col_1of3 {
    width: 33.333%; }
  .masonry-col_2of3 {
    width: 66.666%; }
  .masonry-col_bgImg {
    padding: 16.75% 20px; }
  .mlc .masonry-col_bgImg {
    padding: 40px 20px; }
  /*----------------------------------------------------------------------
 Topside
----------------------------------------------------------------------*/
  .topside {
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 10px; }
  .topside i {
    margin: -20px 0 0 -15px;
    font-size: 30px; }
  /*----------------------------------------------------------------------
 Wraps, Med
----------------------------------------------------------------------*/
  .wrap_section {
    padding: 30px 20px 40px; }
  /*----------------------------------------------------------------------
 WYSIWYG, Med
----------------------------------------------------------------------*/
  .wysiwyg h1 {
    font-size: 40px; }
  .wysiwyg h2 {
    font-size: 26px; }
  .wysiwyg h3 {
    font-size: 20px; }
  .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 {
    font-size: 16px; }
  .wysiwyg p {
    margin-bottom: 20px; } }
