/*----------------------------------------------------------------------
 Images
----------------------------------------------------------------------*/
.imgResponsive {width: 100%;}

.imgFlex {max-width: 100%;}

.imgCentered {
	display: block;
	margin: 0 auto 20px;
}

.img200 {max-width: 200px;}
.img240 {max-width: 240px;}
.img120 {max-width: 120px;}