/*----------------------------------------------------------------------
 Grid
----------------------------------------------------------------------*/
.grid-col {margin-bottom: 20px;}

/* For styleguide */
.grid_example > .grid-col {
	padding: 5px;
	color: $gray_light;
	background: $gray_dark;
}
